<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-8relative %22c{0} [%-5level] %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.lyndir" level="DEBUG" />
    <logger name="net.lin-k" level="DEBUG" />
    <logger name="org.opensaml" level="WARN" />
    <logger name="org.jets3t.service.impl" level="WARN" />

    <!--
    -->
    <logger name="com.lyndir.lhunath.snaplog.model.impl.SecurityServiceImpl" level="INFO" />
    <logger name="com.lyndir.lhunath.lib.wayward.i18n.MessagesFactory" level="INFO" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
