<!DOCTYPE html PUBLIC "-//W5C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xml:lang="en" lang="en">

    <head>
        <wicket:head>
            <script type="text/javascript">

                // Access
                function access(action) {
                    $('#accessPopup').animate({height:action});
                }

                $(document).ready(function() {
                    $('#toolAccess').click(function () {
                        access('toggle');
                    });
                    $('#accessPopupClose').click(function () {
                        access('hide');
                    });
                });

            </script>
        </wicket:head>
    </head>

    <body>
        <wicket:panel>

            <div id="accessPopup" class="backdrop popup">
                <a id="accessPopupClose" class="close ss_sprite ss_cancel"></a>

                <div class="t"></div>
                <div class="tr"></div>
                <div class="r"></div>
                <div class="br"></div>
                <div class="b"></div>
                <div class="bl"></div>
                <div class="l"></div>
                <div class="tl"></div>

                <div class="scrollable">
                    <h1>
                        <wicket:message key="albumAccess" />
                    </h1>
                    <p>
                        <wicket:message key="albumAccessInfo" />
                    </p>

                    <ul id="access" class="clearfix plain">
                        <li wicket:id="users" class="users">
                            <h2 wicket:id="name">[Username]</h2>

                            <ul class="plain">
                                <li wicket:id="permissions">
                                    <label wicket:id="label"></label>
                                    <input type="checkbox" wicket:id="checkbox" />
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </wicket:panel>
    </body>

</html>

