<!DOCTYPE html PUBLIC "-//W5C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

    <head>
        <base href="../../../../../../../webapp/">
        <link rel="stylesheet" type="text/css" href="css/sprites/glossy-white/sprites.css" />
        <link rel="stylesheet" type="text/css" href="css/sprites/silk/sprites.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script type="text/javascript" src="js/jquery-1.4.2.js"></script>

        <wicket:head></wicket:head>
    </head>

    <body>
        <wicket:panel>

            <div class="browser">
                <ul>
                    <li class="br_year block" wicket:id="years">
                        <h3 class="br_head" wicket:id="name">[2010]</h3>
                        <ul>
                            <li class="br_month" wicket:id="months">
                                <h4 class="br_head link" wicket:id="name">[June]</h4>
                                <ul wicket:id="mediaList">
                                    <li class="br_media" wicket:id="media">
                                        <wicket:container wicket:id="media" />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </wicket:panel>
    </body>

</html>
