<!DOCTYPE html PUBLIC "-//W5C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

    <head>
        <wicket:head>
            <script type="text/javascript" src="js/mootools-1.2.4-core-yc.js"></script>
            <script type="text/javascript" src="js/ifisheye-full.js"></script>
            <script type="text/javascript">

                function installFishEye() {

                    new iFishEye({
                        container: $$('.viewer .before')[0],
                        targetImageClass: '.viewer .before .photo',
                        targetCaptionClass: '.viewer .before .caption',
                        dimThumb: {height: 50},
                        dimFocus: {height: 100},
                        useAxis: 'y',
                        norm: 'L2'
                    });
                    new iFishEye({
                        container: $$('.viewer .after')[0],
                        targetImageClass: '.viewer .after .photo',
                        targetCaptionClass: '.viewer .after .caption',
                        dimThumb: {height: 50},
                        dimFocus: {height: 100},
                        useAxis: 'y',
                        norm: 'L2'
                    });
                }

                // Viewer
                $(document).ready(function() {

                    //installFishEye();
                });

                //AjaxHooks.registerPostAjax(installFishEye);

            </script>
        </wicket:head>
    </head>

    <body>
        <wicket:panel>

            <div class="viewer">
                <div class="current" wicket:id="media"></div>

                <div class="before">
                    <ul>
                        <li wicket:id="before">
                            <div wicket:id="media"></div>
                        </li>
                    </ul>
                </div>
                <div class="after">
                    <ul>
                        <li wicket:id="after">
                            <div wicket:id="media"></div>
                        </li>
                    </ul>
                </div>
            </div>

        </wicket:panel>
    </body>

</html>
