<!DOCTYPE html PUBLIC "-//W5C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

    <head>
        <base href="../../../../../../../webapp/" />
        <link rel="stylesheet" type="text/css" href="css/sprites/glossy-white/sprites.css" />
        <link rel="stylesheet" type="text/css" href="css/sprites/silk/sprites.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script type="text/javascript" src="js/jquery-1.4.2.js"></script>

        <wicket:head>
            <script type="text/javascript">

                // Media
                $(document).ready(function() {
                    // Clicking a preview image toggles the fullscreen version.
                    /*$('.media.preview .image').live("click", function() {
                        $(this).closest('.media').find('.fullscreen').animate({opacity:'toggle'});
                    });

                    // Clicking the fullscreen version toggles it off again.
                    $('.media .fullscreen').live("click", function() {
                        $(this).animate({opacity:'toggle'});
                    });*/
                });
            </script>
        </wicket:head>
    </head>

    <body>
        <wicket:panel>

            <span class="media" wicket:id="media">
                <span class="image" wicket:id="image">
                    <img wicket:id="full" class="full" />
                    <img wicket:id="thumb" class="thumb" />

                    <span class="caption" wicket:id="caption">[Caption]</span>
                </span>

                <div wicket:id="tools" class="tools">
                    <a class="ss_sprite ss_disk" wicket:id="original" target="_blank">
                        <wicket:message key="tools.original">Download High-Quality</wicket:message></a>
                    <a class="ss_sprite ss_link" wicket:id="share">
                        <wicket:message key="tools.share">Share This</wicket:message></a>
                    <a class="ss_sprite ss_eye" wicket:id="permissions" target="_blank">
                        <wicket:message key="tools.permissions">Change Permissions</wicket:message></a>
                    <a class="ss_sprite ss_delete" wicket:id="delete" target="_blank">
                        <wicket:message key="tools.delete">Delete Permanently</wicket:message></a>
                </div>
            </span>

        </wicket:panel>
    </body>

</html>
