/**************** Copyright 2010, Lhunath (Maarten Billemont) *****************/


/*******************************************************************************
 * GLOBAL PROPERTIES *
 */
html {
    background:         #4c4c4c url("../images/layout/canvas.png");
}
body {
    background:         url("../images/layout/backdrop.png") repeat-x;
    color:              #DDD;

    font-size:          90%;
}
h1, h2, h3, h4, h5, h6 {
    color:              #ddd;
    text-shadow:        black 0 1px 1px;
}
a, a:link, .link {
    color:              #EEE;
    text-decoration:    underline;

    cursor:             pointer;
}
a:hover, .link:hover {
    color:              white;
    text-decoration:    none;
}
h3 {
    color:              #AAA;

    margin:             1em 0 1ex;
}
.error h1, .error h2, .error h3, .error h4, .error h5, .error h6 {
    color:              inherit;
}
label {
    display:            inline-block;

    margin:             0 1em;
    width:              10em;

    text-align:         right;
}
input, input[type], input[value], select, textarea {
    background:         rgba(32, 32, 32, 0.5);
    color:              white;
    text-shadow:        black 0 1px 1px;
    border:             none;
    border-bottom:      2px solid #474747;
    box-shadow:         0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    -khtml-border-radius:5px;
    -o-border-radius:   5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;

    vertical-align:     top;
    padding:            0.5ex;
    margin:             0.5ex 0;
    width:              20em;

    font:               inherit;
    font-family:        monospace;
}
input:hover, input[type]:hover, input[value]:hover, select:hover, textarea:hover {
    background:         rgba(32, 32, 32, 0.6);
}
input:focus, input[type]:focus, input[value]:focus, select:focus, textarea:focus {
    background:         rgba(32, 32, 32, 0.7);
}
ul.plain li {
    list-style:         none;
}


/*******************************************************************************
 * HEADER *
 */
#header {
    background:         url("../images/layout/header.png") no-repeat;

    height:             100px;
    padding:            64px 0 0 400px;

    color:              #edd;
    text-shadow:        black 0 1px 0;
    font-size:          90%;
}
#header p {
    float:              left;

    height:             23px;
    padding:            7px;
}
#header .tabs {
    background:         url("../images/layout/separator.png") no-repeat top left;
    float:              right;

    height:             30px;
    padding:            0;
}
#header .tabs li {
    background:         url("../images/layout/separator.png") no-repeat top right;

    display:            block;
    float:              left;
}
#header .tabs li.right {
    float:              right;
}
#header .tabs a {
    display:            block;
    width:              8em;
    height:             23px;
    padding-top:        7px;

    border:             0 dashed transparent;
    border-bottom-width:1px;

    color:              inherit;
    text-align:         center;
    text-decoration:    none;
}
#header .tabs .active a {
    font-weight:        bold;
}
#header .tabs .active a, #header .tabs a:hover {
    border-color:       #8f0000;
    color:              white;
    border-bottom-style:solid;
}
#header .tabs:hover .active a {
    border-color:       transparent;
}
#header .tabs a:hover {
    border-color:       #8f0000 !important;
}


/*******************************************************************************
 * TOOLBAR *
 */
.toolbar {
    background:         url("../images/layout/toolbar.middle.png") repeat-x;

    position:           absolute;
    top:                100px;
    right:              4em;
    padding:            0;

    text-shadow:        black 0 1px 0;
}
.toolbar li {
    float:              left;

    list-style:         none;
    padding:            5px 1em;
}
.toolbar li.start {
    background:         url("../images/layout/toolbar.left.png") no-repeat top left;

    width:              15px;
    height:             35px;
    padding:            0;
}
.toolbar li.end {
    background:         url("../images/layout/toolbar.right.png") no-repeat top right;

    float:              right;
    width:              15px;
    height:             35px;
    padding:            0;
}


/*******************************************************************************
 * POPUP *
 */
div.popup {
    background:         rgba(32, 32, 32, 0.95);
    border-top-width:   80px;

    display:            none;                       /* Defaults to invisible. */
    position:           fixed;
    z-index:            9;
    top:                25%;
    left:               15%;
    width:              70%;
    height:             60%;
}
.popup .close {
    display:            block;
    position:           fixed;
    top:                25%;
    right:              15%;
    margin:             -14px -34px;
}
.popup h1 {
    text-shadow:        black 0 1px 3px;

    position:           absolute;
    display:            inline-block;
    margin:             -80px 0 1em 0;
}


/*******************************************************************************
 * TIMELINE *
 */
#timeline, #timeline ol {
    display:            block;
    margin-bottom:      24px;

    font-size:          0;
}
#timeline li {
    display:            inline-block;
    margin:             0;
    padding:            0;

    list-style:         none;

    font-size:          10px;
}
#timeline li a {
    color:              inherit;
    text-decoration:    none;
}
#timeline li.year,
#timeline li.month {
    margin:             0 2em;

    font-weight:        bold;
}
#timeline li.year {
    display:            block;
}
#timeline li.year ol {
    display:            none;
}
#timeline li.day {
    width:              3em;

    border-bottom:      0 solid white;

    text-align:         center;
}
#timeline h1 sub {
    font-size:          0.3em;
}


/*******************************************************************************
 * BACKDROP *
 */
.backdrop {
    border:             1px solid #111;

    display:            inline-block;
    position:           relative;
    margin:             5px 15px 15px 15px;
}
.backdrop div {
    /*background: rgba(0, 128, 0, 0.9) !important;/**/
}
.backdrop .t {
    background:         url("../images/layout/photo.t.png") repeat-x;
    clip:               rect(0 99999px 5px 20px);

    position:           absolute;
    top:                -5px;
    left:               -5px;
    width:              100%;
    height:             5px;

    padding-left:       1px;
    padding-right:      1px;
    margin-left:        -1px;
    margin-top:         -1px;
}
.backdrop .tr {
    background:         url("../images/layout/photo.tr.png") no-repeat;

    position:           absolute;
    top:                -5px;
    right:              -15px;
    width:              20px;
    height:             20px;

    margin-top:         -1px;
    margin-right:       -1px;
}
.backdrop .r {
    background:         url("../images/layout/photo.r.png") repeat-y;
    clip:               rect(20px 15px 99999px 0);

    position:           absolute;
    top:                -5px;
    right:              -15px;
    width:              15px;
    height:             100%;

    padding-top:        1px;
    padding-bottom:     1px;
    margin-top:         -1px;
    margin-right:       -1px;
}
.backdrop .br {
    background:         url("../images/layout/photo.br.png") no-repeat;

    position:           absolute;
    bottom:             -15px;
    right:              -15px;
    width:              20px;
    height:             20px;

    margin-bottom:      -1px;
    margin-right:       -1px;
}
.backdrop .b {
    background:         url("../images/layout/photo.b.png") repeat-x;
    clip:               rect(0 99999px 15px 20px);

    position:           absolute;
    bottom:             -15px;
    left:               -5px;
    width:              100%;
    height:             15px;

    margin-bottom:      -1px;
    margin-left:        -1px;
    padding-left:       1px;
    padding-right:      1px;
}
.backdrop .bl {
    background:         url("../images/layout/photo.bl.png") no-repeat;

    position:           absolute;
    bottom:             -15px;
    left:               -15px;
    width:              30px;
    height:             20px;

    margin-bottom:      -1px;
    margin-left:        -1px;
}
.backdrop .l {
    background:         url("../images/layout/photo.l.png") repeat-y;
    clip:               rect(20px 15px 99999px 0);

    position:           absolute;
    top:                -5px;
    left:               -15px;
    width:              15px;
    height:             100%;

    padding-top:        1px;
    padding-bottom:     1px;
    margin-top:         -1px;
    margin-left:        -1px;
}
.backdrop .tl {
    background:         url("../images/layout/photo.tl.png") no-repeat;

    position:           absolute;
    top:                -5px;
    left:               -15px;
    width:              30px;
    height:             20px;

    margin-top:         -1px;
    margin-left:        -1px;
}


/*******************************************************************************
 * BLOCKS *
 */
.block {
    display:            block;
    background:         #101010;
    box-shadow:         0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
    -khtml-border-radius:5px;
    -o-border-radius:   5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;

    padding:            0.5em;
    margin:             1ex 0;

    text-decoration:    none;
}
.block:hover {
    background:         #1A1A1A;
    box-shadow:         0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
}
.block.album {
    min-height:         100px;
}
.block.album .media {
    float:              left;

    margin:             0 1em 1ex 0;
}


/*******************************************************************************
 * MEDIA *
 */
#viewer {
    text-align:         center;
}
#viewer li {
    display:            inline-block;

    list-style:         none;
}
#viewer li.current {
    display:            block;
}
.media:hover {
    border-color:       #EEE;
}
.media .image {
    display:            block;
    z-index:            1;
    position:           relative;

    font-size:          14px;
    text-decoration:    none !important;
}
.media .image img {
    background:         rgba(0, 0, 0, 0.5) url("../images/resources/loader.boxes.black.gif") no-repeat center center;

    display:            block;
    position:           relative;
    z-index:            1;
}
.media .image img.thumb {
    position:           absolute;

    height:             100%;
    z-index:            0;
}
.media .image:hover {
    border-color:       #eee;
}
.media .image .caption {
    background:         rgba(32, 32, 32, 0.7);
    text-shadow:        black 0 1px 1px;

    display:            block;
    position:           absolute;
    z-index:            3;
    bottom:             0.5em;
    left:               0;
    width:              100%;
    padding:            0.4em 0;
    margin:             -0.4em 0 0 0;

    text-align:         center;
}
.media .fullscreen {
    background:         rgba(0, 0, 0, 0.66);

    display:            none;
    position:           fixed;
    z-index:            5;
    top:                0;
    left:               0;
    width:              100%;
    height:             100%;

    overflow:           auto;
}
.media .fullscreen img {
    border:             1px solid white;
    background:         #222 url("../images/resources/loader.boxes.black.gif") no-repeat center center;

    position:           relative;
    top:                50%;
    margin-top:         -384px;
}
.media.thumbnail .caption {
    visibility:         hidden;
    left:               0%;
    width:              100%;
    bottom:             0;
}
.media.thumbnail .image:hover .caption {
    visibility:         visible;

    font-size:          0.8em;
}
.media.thumbnail img {
    min-width:          75px;
    max-width:          134px;
    min-height:         100px;
    max-height:         100px;
}
.media.thumbnail.wide img {
    min-width:          134px;
}
.media.preview img {
    min-width:          338px;
    max-width:          600px;
    min-height:         450px;
    max-height:         450px;
}
.media.preview.wide img {
    min-width:          600px;
}
.media.fullscreen img, .media .fullscreen img {
    min-width:          576px;
    max-width:          1024px;
    min-height:         768px;
    max-height:         768px;
}
.media.fullscreen.wide img, .media .fullscreen.wide img {
    min-width:          1024px;
}


/*******************************************************************************
 * GRADIENTS *
 */
.gradient {
    background:         #222 url("../images/layout/gradient.dark.png") repeat-x;
    border-top:         1px solid #555;
    border-bottom:      1px solid #333;

    height:             150px;
    margin:             1em -1000px;
    padding:            25px 1000px;

    font-size:          130%;
    text-shadow:        black 0 1px 1px;
}
.gradient.error {
    background-image:   url("../images/layout/gradient.red.png");
    border-top-color:   #644;
    border-bottom-color:#311;

    color:              #C99;
}
.gradient.error a, .gradient.error a:link {
    color:              #ECC;
}


/*******************************************************************************
 * UTILITIES *
 */
.scrollable {
    display:            block;
    width:              96%;
    height:             92%;
    padding:            2% 2%;

    overflow:           auto;
}
