/**************** Copyright 2010, Lhunath (Maarten Billemont) *****************/


/*******************************************************************************
 * GLOBAL PROPERTIES *
 */
html {
    background:         #4c4c4c url("../images/layout/canvas.png");
}
body {
    background:         url("../images/layout/backdrop.png") repeat-x;
    color:              white;
}
h1, h2, h3, h4, h5, h6 {
    color:              #ddd;
}
a, a:link {
    color:              white;
    text-decoration:    underline;

    cursor:             pointer;
}
a:hover {
    color:              white;
    text-decoration:    none;
}


/*******************************************************************************
 * HEADER *
 */
#header {
    background:         url("../images/layout/header.png") no-repeat;

    height:             100px;
    padding:            64px 0 0 400px;

    color:              #edd;
    font-size:          1.1em;
}
#header p {
    float:              left;

    height:             23px;
    padding:            7px;
}
#header .tabs {
    background:         url("../images/layout/separator.png") no-repeat top left;
    float:              right;

    height:             30px;
    padding:            0;
}
#header .tabs li {
    background:         url("../images/layout/separator.png") no-repeat top right;

    display:            block;
    float:              left;
}
#header .tabs li.right {
    float:              right;
}
#header .tabs a {
    display:            block;
    width:              10em;
    height:             23px;
    padding-top:        7px;

    border:             0 dashed transparent;
    border-bottom-width:1px;

    color:              inherit;
    text-align:         center;
    text-decoration:    none;
}
#header .tabs .active a {
    font-weight:        bold;
}
#header .tabs .active a, #header .tabs a:hover {
    border-color:       #8f0000;
    color:              white;
    border-bottom-style:solid;
}
#header .tabs:hover .active a {
    border-color:       transparent;
}
#header .tabs a:hover {
    border-color:       #8f0000 !important;
}


/*******************************************************************************
 * TOOLBAR *
 */
.toolbar {
    background:         url("../images/layout/toolbar.middle.png") repeat-x;

    position:           absolute;
    top:                100px;
    right:              4em;
    padding:            0;
}
.toolbar li {
    float:              left;

    list-style:         none;
    padding:            5px 1em;
}
.toolbar li.start {
    background:         url("../images/layout/toolbar.left.png") no-repeat top left;

    width:              15px;
    height:             35px;
    padding:            0;
}
.toolbar li.end {
    background:         url("../images/layout/toolbar.right.png") no-repeat top right;

    float:              right;
    width:              15px;
    height:             35px;
    padding:            0;
}


/*******************************************************************************
 * POPUP *
 */
div.popup {
    background:         rgba(32, 32, 32, 0.95);
    /*border:             2px outset #333;*/

    display:            none;                       /* Defaults to invisible. */
    position:           fixed;
    z-index:            9;
    top:                25%;
    left:               15%;
    width:              70%;
    height:             60%;
}
.popup .close {
    display:            block;
    position:           fixed;
    top:                25%;
    right:              15%;
    margin:             -14px -34px;
}
.popup h1 {
    display:            inline-block;
    margin:             0 0 1em 0;
}
.popup h1:first-letter {
    font-size:          1.5em;
}


/*******************************************************************************
 * TIMELINE *
 */
#timeline, #timeline ol {
    display:            block;
    margin-bottom:      24px;

    font-size:          0;
}
#timeline li {
    display:            inline-block;
    margin:             0;
    padding:            0;

    list-style:         none;

    font-size:          10px;
}
#timeline li a {
    color:              inherit;
    text-decoration:    none;
}
#timeline li.year,
#timeline li.month {
    margin:             0 2em;

    font-weight:        bold;
}
#timeline li.year {
    display:            block;
}
#timeline li.year ol {
    display:            none;
}
#timeline li.day {
    width:              3em;

    border-bottom:      0 solid white;

    text-align:         center;
}
#timeline h1 sub {
    font-size:          0.3em;
}


/*******************************************************************************
 * BACKDROP *
 */
.backdrop {
    border:             1px solid #111;

    display:            inline-block;
    position:           relative;
    margin:             5px 15px 15px 15px;
}
.backdrop div {
    /*background: rgba(0, 128, 0, 0.9) !important;/**/
}
.backdrop .t {
    background:         url("../images/layout/photo.t.png") repeat-x;
    clip:               rect(0 99999px 5px 20px);

    position:           absolute;
    top:                -5px;
    left:               -5px;
    width:              100%;
    height:             5px;

    padding-left:       1px;
    padding-right:      1px;
    margin-left:        -1px;
    margin-top:         -1px;
}
.backdrop .tr {
    background:         url("../images/layout/photo.tr.png") no-repeat;

    position:           absolute;
    top:                -5px;
    right:              -15px;
    width:              20px;
    height:             20px;

    margin-top:         -1px;
    margin-right:       -1px;
}
.backdrop .r {
    background:         url("../images/layout/photo.r.png") repeat-y;
    clip:               rect(20px 15px 99999px 0);

    position:           absolute;
    top:                -5px;
    right:              -15px;
    width:              15px;
    height:             100%;

    padding-top:        1px;
    padding-bottom:     1px;
    margin-top:         -1px;
    margin-right:       -1px;
}
.backdrop .br {
    background:         url("../images/layout/photo.br.png") no-repeat;

    position:           absolute;
    bottom:             -15px;
    right:              -15px;
    width:              20px;
    height:             20px;

    margin-bottom:      -1px;
    margin-right:       -1px;
}
.backdrop .b {
    background:         url("../images/layout/photo.b.png") repeat-x;
    clip:               rect(0 99999px 15px 20px);

    position:           absolute;
    bottom:             -15px;
    left:               -5px;
    width:              100%;
    height:             15px;

    margin-bottom:      -1px;
    margin-left:        -1px;
    padding-left:       1px;
    padding-right:      1px;
}
.backdrop .bl {
    background:         url("../images/layout/photo.bl.png") no-repeat;

    position:           absolute;
    bottom:             -15px;
    left:               -15px;
    width:              30px;
    height:             20px;

    margin-bottom:      -1px;
    margin-left:        -1px;
}
.backdrop .l {
    background:         url("../images/layout/photo.l.png") repeat-y;
    clip:               rect(20px 15px 99999px 0);

    position:           absolute;
    top:                -5px;
    left:               -15px;
    width:              15px;
    height:             100%;

    padding-top:        1px;
    padding-bottom:     1px;
    margin-top:         -1px;
    margin-left:        -1px;
}
.backdrop .tl {
    background:         url("../images/layout/photo.tl.png") no-repeat;

    position:           absolute;
    top:                -5px;
    left:               -15px;
    width:              30px;
    height:             20px;

    margin-top:         -1px;
    margin-left:        -1px;
}


/*******************************************************************************
 * IMAGES *
 */
#viewer .caption {
}
#viewer {
    text-align:         center;
}
#viewer li {
    list-style:         none;
}
#viewer li.thumb {
    display:            inline-block;
}
#viewer .backdrop:hover {
    border-color:       #EEE;
}
.image {
    background:         #222;

    display:            block;
    z-index:            1;
    position:           relative;

    font-size:          14px;
    text-decoration:    none !important;
}
.image img {
    display:            block;
    position:           relative;
    z-index:            1;
}
.image:hover {
    border-color:       #eee;
}
.image .highlight {
    background:         url("../images/layout/photo.m.highlight.png") no-repeat top left;

    display:none;
    position:           absolute;
    z-index:            2;
    left:               0;
    width:              100%;
    height:             100%;
}
.image .shadow {
    background:         url("../images/layout/photo.m.shadow.png") no-repeat top right;

    position:           absolute;
    z-index:            2;
    right:              0;
    width:              100%;
    height:             100%;
}
.image .caption {
    background:         #222;
    border:             1px solid #111;

    display:            block;
    position:           absolute;
    z-index:            3;
    bottom:             1em;
    left:               20%;
    width:              60%;
    padding:            0.25em 1em;
    margin:             -0.25em 0 0 -1em;
}
.thumb .caption {
    visibility:         hidden;
    left:               0%;
    width:              100%;
    bottom:             -1em;
}
.thumb .image:hover .caption {
    visibility:         visible;

    font-size:          0.8em;
}
.sized img {
    max-width:          600px;
    max-height:         450px;
}
.thumb img {
    max-width:          150px;
    max-height:         100px;
}


/*******************************************************************************
 * UTILITIES *
 */
.scrollable {
    display:            block;
    width:              96%;
    height:             92%;
    padding:            2% 2%;

    overflow:           auto;
}
