.s64.animals                      { background: transparent url("64x64/animals.png") no-repeat; width: 64px; height: 64px; }
.s64.animals.animal-antz          { background-position:   -0px   -0px; }
.s64.animals.animal-bear          { background-position:   -0px  -64px; }
.s64.animals.animal-bear3         { background-position:   -0px -128px; }
.s64.animals.animal-bear4-sc44    { background-position:   -0px -192px; }
.s64.animals.animal-bird          { background-position:   -0px -256px; }
.s64.animals.animal-bird11-sc48   { background-position:   -0px -320px; }
.s64.animals.animal-bird2         { background-position:   -0px -384px; }
.s64.animals.animal-bird4-sc44    { background-position:   -0px -448px; }
.s64.animals.animal-bird5-sc44    { background-position:   -0px -512px; }
.s64.animals.animal-bird6-sc44    { background-position:   -0px -576px; }
.s64.animals.animal-bird7-sc44    { background-position:   -0px -640px; }
.s64.animals.animal-bird8-sc45    { background-position:   -0px -704px; }
.s64.animals.animal-birdie1       { background-position:   -0px -768px; }
.s64.animals.animal-bull-face     { background-position:   -0px -832px; }
.s64.animals.animal-bull1-sc44    { background-position:   -0px -896px; }
.s64.animals.animal-butterfly2    { background-position:   -0px -960px; }
.s64.animals.animal-butterfly3    { background-position:   -0px -1024px; }
.s64.animals.animal-butterfly5-sc48 { background-position:   -0px -1088px; }
.s64.animals.animal-camel         { background-position:   -0px -1152px; }
.s64.animals.animal-camel2-sc36   { background-position:   -0px -1216px; }
.s64.animals.animal-cat-print     { background-position:   -0px -1280px; }
.s64.animals.animal-cat1          { background-position:   -0px -1344px; }
.s64.animals.animal-cat18         { background-position:   -0px -1408px; }
.s64.animals.animal-cat20         { background-position:   -0px -1472px; }
.s64.animals.animal-cat21         { background-position:   -0px -1536px; }
.s64.animals.animal-cat26         { background-position:   -0px -1600px; }
.s64.animals.animal-cat27         { background-position:   -0px -1664px; }
.s64.animals.animal-cat28         { background-position:   -0px -1728px; }
.s64.animals.animal-cat3          { background-position:   -0px -1792px; }
.s64.animals.animal-cat4          { background-position:   -0px -1856px; }
.s64.animals.animal-cat5-sc22     { background-position:   -0px -1920px; }
.s64.animals.animal-cat6          { background-position:   -0px -1984px; }
.s64.animals.animal-cat7          { background-position:   -0px -2048px; }
.s64.animals.animal-cow1          { background-position:   -0px -2112px; }
.s64.animals.animal-cow2          { background-position:   -0px -2176px; }
.s64.animals.animal-crab2         { background-position:   -0px -2240px; }
.s64.animals.animal-crocodile-sc43 { background-position:   -0px -2304px; }
.s64.animals.animal-deer1         { background-position:   -0px -2368px; }
.s64.animals.animal-deer2         { background-position:   -0px -2432px; }
.s64.animals.animal-deer4-sc44    { background-position:   -0px -2496px; }
.s64.animals.animal-dinosaur1     { background-position:   -0px -2560px; }
.s64.animals.animal-dinosaur2     { background-position:   -0px -2624px; }
.s64.animals.animal-dinosaur3     { background-position:   -0px -2688px; }
.s64.animals.animal-dinosaur4     { background-position:   -0px -2752px; }
.s64.animals.animal-dog-print     { background-position:   -0px -2816px; }
.s64.animals.animal-dog1          { background-position:   -0px -2880px; }
.s64.animals.animal-dog2          { background-position:   -0px -2944px; }
.s64.animals.animal-dog3          { background-position:   -0px -3008px; }
.s64.animals.animal-dog4          { background-position:   -0px -3072px; }
.s64.animals.animal-dog5-sc44     { background-position:   -0px -3136px; }
.s64.animals.animal-dragon1       { background-position:   -0px -3200px; }
.s64.animals.animal-dragon2       { background-position:   -0px -3264px; }
.s64.animals.animal-dragon3-sc28  { background-position:   -0px -3328px; }
.s64.animals.animal-dragon4-sc28  { background-position:   -0px -3392px; }
.s64.animals.animal-dragon5-sc28  { background-position:   -0px -3456px; }
.s64.animals.animal-dragonfly1-sc43 { background-position:   -0px -3520px; }
.s64.animals.animal-duck2-sc43    { background-position:   -0px -3584px; }
.s64.animals.animal-duck4         { background-position:   -0px -3648px; }
.s64.animals.animal-elephant      { background-position:   -0px -3712px; }
.s64.animals.animal-elephant1     { background-position:   -0px -3776px; }
.s64.animals.animal-elephant5-sc43 { background-position:   -0px -3840px; }
.s64.animals.animal-fish          { background-position:   -0px -3904px; }
.s64.animals.animal-fish1         { background-position:   -0px -3968px; }
.s64.animals.animal-fish13        { background-position:   -0px -4032px; }
.s64.animals.animal-fish6         { background-position:   -0px -4096px; }
.s64.animals.animal-fish7-sc37    { background-position:   -0px -4160px; }
.s64.animals.animal-frog          { background-position:   -0px -4224px; }
.s64.animals.animal-giraffe       { background-position:   -0px -4288px; }
.s64.animals.animal-giraffe1      { background-position:   -0px -4352px; }
.s64.animals.animal-hamster       { background-position:   -0px -4416px; }
.s64.animals.animal-hippo         { background-position:   -0px -4480px; }
.s64.animals.animal-hippo3-sc22   { background-position:   -0px -4544px; }
.s64.animals.animal-horse1        { background-position:   -0px -4608px; }
.s64.animals.animal-horse3-sc44   { background-position:   -0px -4672px; }
.s64.animals.animal-kangaroo-sc36 { background-position:   -0px -4736px; }
.s64.animals.animal-koala-bear    { background-position:   -0px -4800px; }
.s64.animals.animal-ladybug4-sc24 { background-position:   -0px -4864px; }
.s64.animals.animal-ladybug5-sc24 { background-position:   -0px -4928px; }
.s64.animals.animal-ladybug6-sc24 { background-position:   -0px -4992px; }
.s64.animals.animal-ladybug7-sc24 { background-position:   -0px -5056px; }
.s64.animals.animal-ladybug8-sc24 { background-position:   -0px -5120px; }
.s64.animals.animal-ladybug9-sc24 { background-position:   -0px -5184px; }
.s64.animals.animal-lion          { background-position:   -0px -5248px; }
.s64.animals.animal-lion1-sc36    { background-position:   -0px -5312px; }
.s64.animals.animal-lion2         { background-position:   -0px -5376px; }
.s64.animals.animal-lion3-sc37    { background-position:   -0px -5440px; }
.s64.animals.animal-lizard1       { background-position:   -0px -5504px; }
.s64.animals.animal-lizard2-sc37  { background-position:   -0px -5568px; }
.s64.animals.animal-lobster       { background-position:   -0px -5632px; }
.s64.animals.animal-lobster1-sc44 { background-position:   -0px -5696px; }
.s64.animals.animal-monkey        { background-position:   -0px -5760px; }
.s64.animals.animal-monkey1       { background-position:   -0px -5824px; }
.s64.animals.animal-moose-sc44    { background-position:   -0px -5888px; }
.s64.animals.animal-mouse1        { background-position:   -0px -5952px; }
.s64.animals.animal-panda         { background-position:   -0px -6016px; }
.s64.animals.animal-panda3-sc37   { background-position:   -0px -6080px; }
.s64.animals.animal-paw-prints2   { background-position:   -0px -6144px; }
.s64.animals.animal-penguine-sc43 { background-position:   -0px -6208px; }
.s64.animals.animal-rabbit1       { background-position:   -0px -6272px; }
.s64.animals.animal-rabbit2-sc25  { background-position:   -0px -6336px; }
.s64.animals.animal-seahorse1-sc44 { background-position:   -0px -6400px; }
.s64.animals.animal-seahorse2-sc37 { background-position:   -0px -6464px; }
.s64.animals.animal-seal          { background-position:   -0px -6528px; }
.s64.animals.animal-seashell-sc5  { background-position:   -0px -6592px; }
.s64.animals.animal-seashell2-sc44 { background-position:   -0px -6656px; }
.s64.animals.animal-shellfish2-sc44 { background-position:   -0px -6720px; }
.s64.animals.animal-shellfish3    { background-position:   -0px -6784px; }
.s64.animals.animal-snail         { background-position:   -0px -6848px; }
.s64.animals.animal-snake         { background-position:   -0px -6912px; }
.s64.animals.animal-snake1        { background-position:   -0px -6976px; }
.s64.animals.animal-spider        { background-position:   -0px -7040px; }
.s64.animals.animal-spider1       { background-position:   -0px -7104px; }
.s64.animals.animal-squirrel1-sc37 { background-position:   -0px -7168px; }
.s64.animals.animal-starfish-sc43 { background-position:   -0px -7232px; }
.s64.animals.animal-turtle        { background-position:   -0px -7296px; }
.s64.animals.animal-turtle3-sc44  { background-position:   -0px -7360px; }
.s64.animals.animal-unicorn       { background-position:   -0px -7424px; }
.s64.animals.animal-unicorn1      { background-position:   -0px -7488px; }
.s64.animals.animal-wolf-sc44     { background-position:   -0px -7552px; }
.s64.animals.bone                 { background-position:   -0px -7616px; }
.s64.animals.fishbowl             { background-position:   -0px -7680px; }
.s64.animals.paw-print3           { background-position:   -0px -7744px; }
.s64.animals.paw-prints2          { background-position:   -0px -7808px; }
.s64.animals.spiderweb2           { background-position:   -0px -7872px; }
