.s32.business                      { background: transparent url("32x32/business.png") no-repeat; width: 32px; height: 32px; }
.s32.business.bag-paper1           { background-position:   -0px   -0px; }
.s32.business.bag-paper2           { background-position:   -0px  -32px; }
.s32.business.bag-paper3           { background-position:   -0px  -64px; }
.s32.business.basket               { background-position:   -0px  -96px; }
.s32.business.battery              { background-position:   -0px -128px; }
.s32.business.battery1             { background-position:   -0px -160px; }
.s32.business.binocular            { background-position:   -0px -192px; }
.s32.business.box                  { background-position:   -0px -224px; }
.s32.business.box1                 { background-position:   -0px -256px; }
.s32.business.box2                 { background-position:   -0px -288px; }
.s32.business.brush-paint55        { background-position:   -0px -320px; }
.s32.business.brush-paint57-sc52   { background-position:   -0px -352px; }
.s32.business.brush-painting-sc43  { background-position:   -0px -384px; }
.s32.business.cabinet              { background-position:   -0px -416px; }
.s32.business.calculator           { background-position:   -0px -448px; }
.s32.business.calendar             { background-position:   -0px -480px; }
.s32.business.cart-7dots           { background-position:   -0px -512px; }
.s32.business.cart-arrow           { background-position:   -0px -544px; }
.s32.business.cart-solid           { background-position:   -0px -576px; }
.s32.business.cart2                { background-position:   -0px -608px; }
.s32.business.cart3                { background-position:   -0px -640px; }
.s32.business.cart4                { background-position:   -0px -672px; }
.s32.business.cart5                { background-position:   -0px -704px; }
.s32.business.chair5-sc52          { background-position:   -0px -736px; }
.s32.business.charcoal-cart        { background-position:   -0px -768px; }
.s32.business.charts               { background-position:   -0px -800px; }
.s32.business.charts1-sc1          { background-position:   -0px -832px; }
.s32.business.clipboard            { background-position:   -0px -864px; }
.s32.business.clipboard1           { background-position:   -0px -896px; }
.s32.business.clipboard2-sc1       { background-position:   -0px -928px; }
.s32.business.clock                { background-position:   -0px -960px; }
.s32.business.clock1               { background-position:   -0px -992px; }
.s32.business.clock110             { background-position:   -0px -1024px; }
.s32.business.clock2               { background-position:   -0px -1056px; }
.s32.business.clock3               { background-position:   -0px -1088px; }
.s32.business.clock4               { background-position:   -0px -1120px; }
.s32.business.clock5-sc44          { background-position:   -0px -1152px; }
.s32.business.clock6-sc43          { background-position:   -0px -1184px; }
.s32.business.clock7-sc43          { background-position:   -0px -1216px; }
.s32.business.clock8               { background-position:   -0px -1248px; }
.s32.business.computer-desktop1    { background-position:   -0px -1280px; }
.s32.business.computer-keyboard    { background-position:   -0px -1312px; }
.s32.business.computer-laptop2     { background-position:   -0px -1344px; }
.s32.business.computer-monitor     { background-position:   -0px -1376px; }
.s32.business.computer-mouse       { background-position:   -0px -1408px; }
.s32.business.computer-mouse2      { background-position:   -0px -1440px; }
.s32.business.computer-mouse3-sc1  { background-position:   -0px -1472px; }
.s32.business.computer-mouse3      { background-position:   -0px -1504px; }
.s32.business.computer-server1     { background-position:   -0px -1536px; }
.s32.business.computer-server2     { background-position:   -0px -1568px; }
.s32.business.computer-usb-drive-sc7 { background-position:   -0px -1600px; }
.s32.business.copyright            { background-position:   -0px -1632px; }
.s32.business.creditcard2          { background-position:   -0px -1664px; }
.s32.business.currency-british-pound-sc35 { background-position:   -0px -1696px; }
.s32.business.currency-cent-sc35   { background-position:   -0px -1728px; }
.s32.business.currency-dollar-sc35 { background-position:   -0px -1760px; }
.s32.business.currency-euro1-sc35  { background-position:   -0px -1792px; }
.s32.business.currency-euro1       { background-position:   -0px -1824px; }
.s32.business.currency-euro3       { background-position:   -0px -1856px; }
.s32.business.currency-japanese-yen2-sc35 { background-position:   -0px -1888px; }
.s32.business.cursor               { background-position:   -0px -1920px; }
.s32.business.disc                 { background-position:   -0px -1952px; }
.s32.business.disk                 { background-position:   -0px -1984px; }
.s32.business.diskette-save        { background-position:   -0px -2016px; }
.s32.business.diskette4            { background-position:   -0px -2048px; }
.s32.business.document             { background-position:   -0px -2080px; }
.s32.business.document1            { background-position:   -0px -2112px; }
.s32.business.document10-sc1       { background-position:   -0px -2144px; }
.s32.business.document3            { background-position:   -0px -2176px; }
.s32.business.document4            { background-position:   -0px -2208px; }
.s32.business.document5            { background-position:   -0px -2240px; }
.s32.business.document6            { background-position:   -0px -2272px; }
.s32.business.document7            { background-position:   -0px -2304px; }
.s32.business.document8            { background-position:   -0px -2336px; }
.s32.business.document9            { background-position:   -0px -2368px; }
.s32.business.dollar-solid         { background-position:   -0px -2400px; }
.s32.business.dollar               { background-position:   -0px -2432px; }
.s32.business.electrical-plug      { background-position:   -0px -2464px; }
.s32.business.electrical-plug1     { background-position:   -0px -2496px; }
.s32.business.electrical-plug2     { background-position:   -0px -2528px; }
.s32.business.electrical-plug5     { background-position:   -0px -2560px; }
.s32.business.envelope1            { background-position:   -0px -2592px; }
.s32.business.envelope3            { background-position:   -0px -2624px; }
.s32.business.envelope4            { background-position:   -0px -2656px; }
.s32.business.envelope5            { background-position:   -0px -2688px; }
.s32.business.envelopes1           { background-position:   -0px -2720px; }
.s32.business.fax                  { background-position:   -0px -2752px; }
.s32.business.folder               { background-position:   -0px -2784px; }
.s32.business.folder1              { background-position:   -0px -2816px; }
.s32.business.folder2-sc1          { background-position:   -0px -2848px; }
.s32.business.gas-none-sc49        { background-position:   -0px -2880px; }
.s32.business.gas-pump             { background-position:   -0px -2912px; }
.s32.business.gas-station4-sc49    { background-position:   -0px -2944px; }
.s32.business.gaspump              { background-position:   -0px -2976px; }
.s32.business.gaspump2             { background-position:   -0px -3008px; }
.s32.business.gear-c-sc44          { background-position:   -0px -3040px; }
.s32.business.gear                 { background-position:   -0px -3072px; }
.s32.business.gear1                { background-position:   -0px -3104px; }
.s32.business.gear10               { background-position:   -0px -3136px; }
.s32.business.gear11               { background-position:   -0px -3168px; }
.s32.business.gear2                { background-position:   -0px -3200px; }
.s32.business.gear3                { background-position:   -0px -3232px; }
.s32.business.gear4                { background-position:   -0px -3264px; }
.s32.business.gear5                { background-position:   -0px -3296px; }
.s32.business.gear6                { background-position:   -0px -3328px; }
.s32.business.gear7                { background-position:   -0px -3360px; }
.s32.business.gear8                { background-position:   -0px -3392px; }
.s32.business.gear9                { background-position:   -0px -3424px; }
.s32.business.gears-sc37           { background-position:   -0px -3456px; }
.s32.business.gears1-sc44          { background-position:   -0px -3488px; }
.s32.business.globe                { background-position:   -0px -3520px; }
.s32.business.head-set             { background-position:   -0px -3552px; }
.s32.business.headgear             { background-position:   -0px -3584px; }
.s32.business.headset3             { background-position:   -0px -3616px; }
.s32.business.home1                { background-position:   -0px -3648px; }
.s32.business.home3                { background-position:   -0px -3680px; }
.s32.business.home4                { background-position:   -0px -3712px; }
.s32.business.home5                { background-position:   -0px -3744px; }
.s32.business.home6                { background-position:   -0px -3776px; }
.s32.business.home7                { background-position:   -0px -3808px; }
.s32.business.home8                { background-position:   -0px -3840px; }
.s32.business.home9-sc52           { background-position:   -0px -3872px; }
.s32.business.hourglass            { background-position:   -0px -3904px; }
.s32.business.hourglass2           { background-position:   -0px -3936px; }
.s32.business.hourglass3-sc44      { background-position:   -0px -3968px; }
.s32.business.industrial           { background-position:   -0px -4000px; }
.s32.business.key-hole-sc48        { background-position:   -0px -4032px; }
.s32.business.key1                 { background-position:   -0px -4064px; }
.s32.business.key11-sc48           { background-position:   -0px -4096px; }
.s32.business.key2                 { background-position:   -0px -4128px; }
.s32.business.key3                 { background-position:   -0px -4160px; }
.s32.business.key6                 { background-position:   -0px -4192px; }
.s32.business.key7                 { background-position:   -0px -4224px; }
.s32.business.key9                 { background-position:   -0px -4256px; }
.s32.business.keys-sc43            { background-position:   -0px -4288px; }
.s32.business.ladder               { background-position:   -0px -4320px; }
.s32.business.ladder1-sc48         { background-position:   -0px -4352px; }
.s32.business.light-bulb           { background-position:   -0px -4384px; }
.s32.business.light-bulb2-sc52     { background-position:   -0px -4416px; }
.s32.business.light-off            { background-position:   -0px -4448px; }
.s32.business.light-on             { background-position:   -0px -4480px; }
.s32.business.lock-heart           { background-position:   -0px -4512px; }
.s32.business.lock1                { background-position:   -0px -4544px; }
.s32.business.lock2                { background-position:   -0px -4576px; }
.s32.business.lock3                { background-position:   -0px -4608px; }
.s32.business.lock4                { background-position:   -0px -4640px; }
.s32.business.lock5                { background-position:   -0px -4672px; }
.s32.business.lock6-sc48           { background-position:   -0px -4704px; }
.s32.business.logo-superman-sc37   { background-position:   -0px -4736px; }
.s32.business.magic-wand           { background-position:   -0px -4768px; }
.s32.business.magnify-zoom-out     { background-position:   -0px -4800px; }
.s32.business.magnify-zoom         { background-position:   -0px -4832px; }
.s32.business.magnifying-glass-ps  { background-position:   -0px -4864px; }
.s32.business.magnifying-glass1-sc49 { background-position:   -0px -4896px; }
.s32.business.mail                 { background-position:   -0px -4928px; }
.s32.business.mailbox              { background-position:   -0px -4960px; }
.s32.business.mailbox1             { background-position:   -0px -4992px; }
.s32.business.microscope           { background-position:   -0px -5024px; }
.s32.business.notepad              { background-position:   -0px -5056px; }
.s32.business.oil-well             { background-position:   -0px -5088px; }
.s32.business.paperclip            { background-position:   -0px -5120px; }
.s32.business.paperclip2           { background-position:   -0px -5152px; }
.s32.business.paperclips2-sc43     { background-position:   -0px -5184px; }
.s32.business.pen-crayon-ps        { background-position:   -0px -5216px; }
.s32.business.pen-crayon           { background-position:   -0px -5248px; }
.s32.business.pen1                 { background-position:   -0px -5280px; }
.s32.business.pen5-ps              { background-position:   -0px -5312px; }
.s32.business.pen6-ps              { background-position:   -0px -5344px; }
.s32.business.pencil1              { background-position:   -0px -5376px; }
.s32.business.pencil2              { background-position:   -0px -5408px; }
.s32.business.pencil4              { background-position:   -0px -5440px; }
.s32.business.pencil5-ps           { background-position:   -0px -5472px; }
.s32.business.pencil6-sc45         { background-position:   -0px -5504px; }
.s32.business.pencil7-sc49         { background-position:   -0px -5536px; }
.s32.business.pencil8              { background-position:   -0px -5568px; }
.s32.business.phone-cell           { background-position:   -0px -5600px; }
.s32.business.phone-cell2          { background-position:   -0px -5632px; }
.s32.business.phone-cell3-sc8      { background-position:   -0px -5664px; }
.s32.business.phone-clear          { background-position:   -0px -5696px; }
.s32.business.phone-solid          { background-position:   -0px -5728px; }
.s32.business.phone                { background-position:   -0px -5760px; }
.s32.business.phone1               { background-position:   -0px -5792px; }
.s32.business.phone2               { background-position:   -0px -5824px; }
.s32.business.phone4               { background-position:   -0px -5856px; }
.s32.business.power-button4        { background-position:   -0px -5888px; }
.s32.business.printer              { background-position:   -0px -5920px; }
.s32.business.registered-mark      { background-position:   -0px -5952px; }
.s32.business.registered-mark1     { background-position:   -0px -5984px; }
.s32.business.robot                { background-position:   -0px -6016px; }
.s32.business.robot1               { background-position:   -0px -6048px; }
.s32.business.satellite-dish-sc43  { background-position:   -0px -6080px; }
.s32.business.satellite3-sc43      { background-position:   -0px -6112px; }
.s32.business.satellite4-sc43      { background-position:   -0px -6144px; }
.s32.business.scissors             { background-position:   -0px -6176px; }
.s32.business.signature            { background-position:   -0px -6208px; }
.s32.business.signature1           { background-position:   -0px -6240px; }
.s32.business.space-satelite-sc43  { background-position:   -0px -6272px; }
.s32.business.space-satelite       { background-position:   -0px -6304px; }
.s32.business.space-satellite-dish-sc2 { background-position:   -0px -6336px; }
.s32.business.spaceship            { background-position:   -0px -6368px; }
.s32.business.tag                  { background-position:   -0px -6400px; }
.s32.business.text-size            { background-position:   -0px -6432px; }
.s32.business.thumb-tack-ps        { background-position:   -0px -6464px; }
.s32.business.thumbs-down          { background-position:   -0px -6496px; }
.s32.business.thumbs-down1         { background-position:   -0px -6528px; }
.s32.business.thumbs-down2         { background-position:   -0px -6560px; }
.s32.business.thumbs-up            { background-position:   -0px -6592px; }
.s32.business.thumbs-up1           { background-position:   -0px -6624px; }
.s32.business.thumbs-up2           { background-position:   -0px -6656px; }
.s32.business.tool-army-knife-sc44 { background-position:   -0px -6688px; }
.s32.business.tool-ax              { background-position:   -0px -6720px; }
.s32.business.tool-axe1-sc48       { background-position:   -0px -6752px; }
.s32.business.tool-cutter          { background-position:   -0px -6784px; }
.s32.business.tool-cutter1-sc44    { background-position:   -0px -6816px; }
.s32.business.tool-hammer          { background-position:   -0px -6848px; }
.s32.business.tool-hammer2         { background-position:   -0px -6880px; }
.s32.business.tool-hammer3         { background-position:   -0px -6912px; }
.s32.business.tool-hammer4-sc44    { background-position:   -0px -6944px; }
.s32.business.tool-pick-sc44       { background-position:   -0px -6976px; }
.s32.business.tool-screw-sc44      { background-position:   -0px -7008px; }
.s32.business.tool-screwdriver     { background-position:   -0px -7040px; }
.s32.business.tool-shovel2-sc44    { background-position:   -0px -7072px; }
.s32.business.tool-sprocket1       { background-position:   -0px -7104px; }
.s32.business.tool-sprocket2       { background-position:   -0px -7136px; }
.s32.business.tool-sword-sc48      { background-position:   -0px -7168px; }
.s32.business.tool-wheelbarrowl2-sc44 { background-position:   -0px -7200px; }
.s32.business.tool-wrench1         { background-position:   -0px -7232px; }
.s32.business.tool-wrench2         { background-position:   -0px -7264px; }
.s32.business.tool-wrench3         { background-position:   -0px -7296px; }
.s32.business.tool-wrench4         { background-position:   -0px -7328px; }
.s32.business.tool-wrench7         { background-position:   -0px -7360px; }
.s32.business.tool-wrench8-sc44    { background-position:   -0px -7392px; }
.s32.business.tool                 { background-position:   -0px -7424px; }
.s32.business.tool7                { background-position:   -0px -7456px; }
.s32.business.tools-shovel         { background-position:   -0px -7488px; }
.s32.business.tools1               { background-position:   -0px -7520px; }
.s32.business.tools2-digging       { background-position:   -0px -7552px; }
.s32.business.toolset-sc44         { background-position:   -0px -7584px; }
.s32.business.toolset3-sc44        { background-position:   -0px -7616px; }
.s32.business.trademark-ps         { background-position:   -0px -7648px; }
.s32.business.trashcan             { background-position:   -0px -7680px; }
.s32.business.trashcan3            { background-position:   -0px -7712px; }
.s32.business.wall                 { background-position:   -0px -7744px; }
.s32.business.wand1-sc43           { background-position:   -0px -7776px; }
.s32.business.webcam               { background-position:   -0px -7808px; }
.s32.business.wireless             { background-position:   -0px -7840px; }
.s32.business.www-search-ps        { background-position:   -0px -7872px; }
.s32.business.yen                  { background-position:   -0px -7904px; }
