.s64.media                      { background: transparent url("64x64/media.png") no-repeat; width: 64px; height: 64px; }
.s64.media.a-media21-arrow-back { background-position:   -0px   -0px; }
.s64.media.a-media22-arrow-forward1 { background-position:   -0px  -64px; }
.s64.media.a-media23-arrows-seek-back { background-position:   -0px -128px; }
.s64.media.a-media24-arrows-seek-forward { background-position:   -0px -192px; }
.s64.media.a-media25-arrows-skip-back { background-position:   -0px -256px; }
.s64.media.a-media26-arrows-skip-forward { background-position:   -0px -320px; }
.s64.media.a-media27-pause-sign { background-position:   -0px -384px; }
.s64.media.a-media28-stop       { background-position:   -0px -448px; }
.s64.media.a-media29-record     { background-position:   -0px -512px; }
.s64.media.a-media291-volume1   { background-position:   -0px -576px; }
.s64.media.a-media292-minus3    { background-position:   -0px -640px; }
.s64.media.a-media292-speaker-volume-right { background-position:   -0px -704px; }
.s64.media.a-media293-speaker-volume-left { background-position:   -0px -768px; }
.s64.media.a-media31-back       { background-position:   -0px -832px; }
.s64.media.a-media32-forward    { background-position:   -0px -896px; }
.s64.media.a-media33-down       { background-position:   -0px -960px; }
.s64.media.a-media34-up         { background-position:   -0px -1024px; }
.s64.media.a-media35-add        { background-position:   -0px -1088px; }
.s64.media.a-media36-delete     { background-position:   -0px -1152px; }
.s64.media.cd-load              { background-position:   -0px -1216px; }
.s64.media.cd-refresh           { background-position:   -0px -1280px; }
.s64.media.cd-sc52              { background-position:   -0px -1344px; }
.s64.media.horn-sc48            { background-position:   -0px -1408px; }
.s64.media.ipod1                { background-position:   -0px -1472px; }
.s64.media.ipod2                { background-position:   -0px -1536px; }
.s64.media.ipod3                { background-position:   -0px -1600px; }
.s64.media.loud-speaker         { background-position:   -0px -1664px; }
.s64.media.loud-speaker1-ps     { background-position:   -0px -1728px; }
.s64.media.loudspeaker1         { background-position:   -0px -1792px; }
.s64.media.media2-arrow-down    { background-position:   -0px -1856px; }
.s64.media.media2-arrow-up      { background-position:   -0px -1920px; }
.s64.media.music-accordian      { background-position:   -0px -1984px; }
.s64.media.music-clarinet       { background-position:   -0px -2048px; }
.s64.media.music-cleft          { background-position:   -0px -2112px; }
.s64.media.music-drum           { background-position:   -0px -2176px; }
.s64.media.music-drum1-sc44     { background-position:   -0px -2240px; }
.s64.media.music-drum1          { background-position:   -0px -2304px; }
.s64.media.music-eighth-note    { background-position:   -0px -2368px; }
.s64.media.music-eighth-notes   { background-position:   -0px -2432px; }
.s64.media.music-guitar         { background-position:   -0px -2496px; }
.s64.media.music-guitar1        { background-position:   -0px -2560px; }
.s64.media.music-guitar3-sc44   { background-position:   -0px -2624px; }
.s64.media.music-harp1          { background-position:   -0px -2688px; }
.s64.media.music-harp2          { background-position:   -0px -2752px; }
.s64.media.music-microphone     { background-position:   -0px -2816px; }
.s64.media.music-off-ps         { background-position:   -0px -2880px; }
.s64.media.music-on-ps          { background-position:   -0px -2944px; }
.s64.media.music-organ          { background-position:   -0px -3008px; }
.s64.media.music-piano-keys     { background-position:   -0px -3072px; }
.s64.media.music-piano1-sc43    { background-position:   -0px -3136px; }
.s64.media.music-piano2-sc52    { background-position:   -0px -3200px; }
.s64.media.music-sax4           { background-position:   -0px -3264px; }
.s64.media.music-sixteenth-note { background-position:   -0px -3328px; }
.s64.media.music-speaker        { background-position:   -0px -3392px; }
.s64.media.music-speaker1       { background-position:   -0px -3456px; }
.s64.media.music-tamborine      { background-position:   -0px -3520px; }
.s64.media.music-trumpet-sc44-2 { background-position:   -0px -3584px; }
.s64.media.music-trumpet-sc44   { background-position:   -0px -3648px; }
.s64.media.music-trumpet1       { background-position:   -0px -3712px; }
.s64.media.music-tuba           { background-position:   -0px -3776px; }
.s64.media.music-tuba1          { background-position:   -0px -3840px; }
.s64.media.music-violin         { background-position:   -0px -3904px; }
.s64.media.music-violin1-sc44   { background-position:   -0px -3968px; }
.s64.media.music-violin2        { background-position:   -0px -4032px; }
.s64.media.speaker-sc52         { background-position:   -0px -4096px; }
.s64.media.tape-reel1           { background-position:   -0px -4160px; }
.s64.media.tape-reel2           { background-position:   -0px -4224px; }
