.s64.people {
    background:          transparent url("64x64/people.png") no-repeat;
    width:               64px;
    height:              64px;
}

.s64.people.baby-stoller2 {
    background-position: -0px -0px;
}

.s64.people.baby-stroller {
    background-position: -0px -64px;
}

.s64.people.baby-stroller1 {
    background-position: -0px -128px;
}

.s64.people.baby-toys {
    background-position: -0px -192px;
}

.s64.people.baby {
    background-position: -0px -256px;
}

.s64.people.bathtub-sc52 {
    background-position: -0px -320px;
}

.s64.people.bed {
    background-position: -0px -384px;
}

.s64.people.bed1-sc43 {
    background-position: -0px -448px;
}

.s64.people.brain {
    background-position: -0px -512px;
}

.s64.people.briefcase {
    background-position: -0px -576px;
}

.s64.people.button {
    background-position: -0px -640px;
}

.s64.people.button1 {
    background-position: -0px -704px;
}

.s64.people.button3 {
    background-position: -0px -768px;
}

.s64.people.cabinet1-sc52 {
    background-position: -0px -832px;
}

.s64.people.cabinet3-sc52 {
    background-position: -0px -896px;
}

.s64.people.camera {
    background-position: -0px -960px;
}

.s64.people.camera1-sc49 {
    background-position: -0px -1024px;
}

.s64.people.candle2-sc43 {
    background-position: -0px -1088px;
}

.s64.people.chair2 {
    background-position: -0px -1152px;
}

.s64.people.chair3 {
    background-position: -0px -1216px;
}

.s64.people.chalkboard {
    background-position: -0px -1280px;
}

.s64.people.chest-treasure {
    background-position: -0px -1344px;
}

.s64.people.chest {
    background-position: -0px -1408px;
}

.s64.people.cowboy-sc44 {
    background-position: -0px -1472px;
}

.s64.people.diamond {
    background-position: -0px -1536px;
}

.s64.people.diamond5-sc27 {
    background-position: -0px -1600px;
}

.s64.people.diploma-sc2 {
    background-position: -0px -1664px;
}

.s64.people.dress {
    background-position: -0px -1728px;
}

.s64.people.eye {
    background-position: -0px -1792px;
}

.s64.people.eye3-sc44 {
    background-position: -0px -1856px;
}

.s64.people.eye4-sc48 {
    background-position: -0px -1920px;
}

.s64.people.eye5-sc54 {
    background-position: -0px -1984px;
}

.s64.people.eye6 {
    background-position: -0px -2048px;
}

.s64.people.fan5-sc48 {
    background-position: -0px -2112px;
}

.s64.people.faucet1-sc1 {
    background-position: -0px -2176px;
}

.s64.people.faucet2-sc52 {
    background-position: -0px -2240px;
}

.s64.people.foot-left-ps {
    background-position: -0px -2304px;
}

.s64.people.foot-right-ps {
    background-position: -0px -2368px;
}

.s64.people.foot-steps {
    background-position: -0px -2432px;
}

.s64.people.glasses-sun {
    background-position: -0px -2496px;
}

.s64.people.glasses {
    background-position: -0px -2560px;
}

.s64.people.hair-comb {
    background-position: -0px -2624px;
}

.s64.people.hair-comb1-sc44 {
    background-position: -0px -2688px;
}

.s64.people.hairbrush2-sc44 {
    background-position: -0px -2752px;
}

.s64.people.hand-gloves {
    background-position: -0px -2816px;
}

.s64.people.hand-left1-ps {
    background-position: -0px -2880px;
}

.s64.people.hand-left11 {
    background-position: -0px -2944px;
}

.s64.people.hand-peace {
    background-position: -0px -3008px;
}

.s64.people.hand-peace2-sc37 {
    background-position: -0px -3072px;
}

.s64.people.hand-right1-ps {
    background-position: -0px -3136px;
}

.s64.people.hand-shuffle {
    background-position: -0px -3200px;
}

.s64.people.hand22-sc48 {
    background-position: -0px -3264px;
}

.s64.people.hand55 {
    background-position: -0px -3328px;
}

.s64.people.handbag-sc43 {
    background-position: -0px -3392px;
}

.s64.people.handicapped25 {
    background-position: -0px -3456px;
}

.s64.people.handshake {
    background-position: -0px -3520px;
}

.s64.people.hat-cap3-sc44 {
    background-position: -0px -3584px;
}

.s64.people.hat-cap4-sc43 {
    background-position: -0px -3648px;
}

.s64.people.hat-graduation {
    background-position: -0px -3712px;
}

.s64.people.hat-hard {
    background-position: -0px -3776px;
}

.s64.people.hat1-graduation {
    background-position: -0px -3840px;
}

.s64.people.hat2-sc44 {
    background-position: -0px -3904px;
}

.s64.people.hat4-sc44 {
    background-position: -0px -3968px;
}

.s64.people.hat6-sc44 {
    background-position: -0px -4032px;
}

.s64.people.head {
    background-position: -0px -4096px;
}

.s64.people.icon_003 {
    background-position: -0px -4160px;
}

.s64.people.knife-set-sc43 {
    background-position: -0px -4224px;
}

.s64.people.lamp-aladin {
    background-position: -0px -4288px;
}

.s64.people.lamp1 {
    background-position: -0px -4352px;
}

.s64.people.lamp2-sc31 {
    background-position: -0px -4416px;
}

.s64.people.lamp3-sc43 {
    background-position: -0px -4480px;
}

.s64.people.lamp4-sc43 {
    background-position: -0px -4544px;
}

.s64.people.lamp5-sc52 {
    background-position: -0px -4608px;
}

.s64.people.lamp6-sc52 {
    background-position: -0px -4672px;
}

.s64.people.lamp7-sc52 {
    background-position: -0px -4736px;
}

.s64.people.lips-sc33 {
    background-position: -0px -4800px;
}

.s64.people.lips1-sc33 {
    background-position: -0px -4864px;
}

.s64.people.lips99 {
    background-position: -0px -4928px;
}

.s64.people.lipstick {
    background-position: -0px -4992px;
}

.s64.people.lipstick1-sc44 {
    background-position: -0px -5056px;
}

.s64.people.magnet {
    background-position: -0px -5120px;
}

.s64.people.mirror {
    background-position: -0px -5184px;
}

.s64.people.mirror1 {
    background-position: -0px -5248px;
}

.s64.people.pants {
    background-position: -0px -5312px;
}

.s64.people.pencil-eye-sc44 {
    background-position: -0px -5376px;
}

.s64.people.people-audience {
    background-position: -0px -5440px;
}

.s64.people.people-audience1-sc44 {
    background-position: -0px -5504px;
}

.s64.people.people-baby {
    background-position: -0px -5568px;
}

.s64.people.people-carry-suitcase-sc44 {
    background-position: -0px -5632px;
}

.s64.people.people-child {
    background-position: -0px -5696px;
}

.s64.people.people-child2 {
    background-position: -0px -5760px;
}

.s64.people.people-child3 {
    background-position: -0px -5824px;
}

.s64.people.people-couple-sc44 {
    background-position: -0px -5888px;
}

.s64.people.people-family3 {
    background-position: -0px -5952px;
}

.s64.people.people-family4-sc44 {
    background-position: -0px -6016px;
}

.s64.people.people-family4 {
    background-position: -0px -6080px;
}

.s64.people.people-feet {
    background-position: -0px -6144px;
}

.s64.people.people-girl88-sc54 {
    background-position: -0px -6208px;
}

.s64.people.people-head {
    background-position: -0px -6272px;
}

.s64.people.people-inspector-sc44 {
    background-position: -0px -6336px;
}

.s64.people.people-man-circle-sc44 {
    background-position: -0px -6400px;
}

.s64.people.people-man1 {
    background-position: -0px -6464px;
}

.s64.people.people-man11 {
    background-position: -0px -6528px;
}

.s64.people.people-man4 {
    background-position: -0px -6592px;
}

.s64.people.people-mother-child-sc44 {
    background-position: -0px -6656px;
}

.s64.people.people-mother-child1-sc43 {
    background-position: -0px -6720px;
}

.s64.people.people-pedestrian-sc43 {
    background-position: -0px -6784px;
}

.s64.people.people-security-guard-49 {
    background-position: -0px -6848px;
}

.s64.people.people-security {
    background-position: -0px -6912px;
}

.s64.people.people-showering {
    background-position: -0px -6976px;
}

.s64.people.people-singing {
    background-position: -0px -7040px;
}

.s64.people.people-sitting1-sc52 {
    background-position: -0px -7104px;
}

.s64.people.people-speaker-sc44 {
    background-position: -0px -7168px;
}

.s64.people.people-student-study {
    background-position: -0px -7232px;
}

.s64.people.people-students {
    background-position: -0px -7296px;
}

.s64.people.people-walker-man4-ps {
    background-position: -0px -7360px;
}

.s64.people.people-woman1 {
    background-position: -0px -7424px;
}

.s64.people.people-woman2 {
    background-position: -0px -7488px;
}

.s64.people.people-woman6 {
    background-position: -0px -7552px;
}

.s64.people.people-worker {
    background-position: -0px -7616px;
}

.s64.people.people25 {
    background-position: -0px -7680px;
}

.s64.people.perfume-sc44 {
    background-position: -0px -7744px;
}

.s64.people.picture-frame-sc52 {
    background-position: -0px -7808px;
}

.s64.people.picture-frame1-sc52 {
    background-position: -0px -7872px;
}

.s64.people.pill {
    background-position: -0px -7936px;
}

.s64.people.ring {
    background-position: -0px -8000px;
}

.s64.people.ring1-sc44 {
    background-position: -0px -8064px;
}

.s64.people.rocking-horse-sc44 {
    background-position: -0px -8128px;
}

.s64.people.scissors-comb1-sc44 {
    background-position: -0px -8192px;
}

.s64.people.scissors2 {
    background-position: -0px -8256px;
}

.s64.people.scissors3 {
    background-position: -0px -8320px;
}

.s64.people.sewing-machine {
    background-position: -0px -8384px;
}

.s64.people.shirt {
    background-position: -0px -8448px;
}

.s64.people.shirt1 {
    background-position: -0px -8512px;
}

.s64.people.shirt2-sc44 {
    background-position: -0px -8576px;
}

.s64.people.shirt3-sc43 {
    background-position: -0px -8640px;
}

.s64.people.shoe {
    background-position: -0px -8704px;
}

.s64.people.shoes2 {
    background-position: -0px -8768px;
}

.s64.people.shorts-sc43 {
    background-position: -0px -8832px;
}

.s64.people.sink-pedestal-sc52 {
    background-position: -0px -8896px;
}

.s64.people.sink-pedestal {
    background-position: -0px -8960px;
}

.s64.people.slipper-sc43 {
    background-position: -0px -9024px;
}

.s64.people.sofa {
    background-position: -0px -9088px;
}

.s64.people.sofa1-sc52 {
    background-position: -0px -9152px;
}

.s64.people.speech {
    background-position: -0px -9216px;
}

.s64.people.stairs {
    background-position: -0px -9280px;
}

.s64.people.stairs1-sc52 {
    background-position: -0px -9344px;
}

.s64.people.swap-clothes {
    background-position: -0px -9408px;
}

.s64.people.table-sc52 {
    background-position: -0px -9472px;
}

.s64.people.table2-sc52 {
    background-position: -0px -9536px;
}

.s64.people.table3-sc52 {
    background-position: -0px -9600px;
}

.s64.people.telescope {
    background-position: -0px -9664px;
}

.s64.people.tv-sc52 {
    background-position: -0px -9728px;
}

.s64.people.umbrella1 {
    background-position: -0px -9792px;
}

.s64.people.umbrella2 {
    background-position: -0px -9856px;
}

.s64.people.wagon {
    background-position: -0px -9920px;
}

.s64.people.water-well {
    background-position: -0px -9984px;
}

.s64.people.watering-can {
    background-position: -0px -10048px;
}

.s64.people.watering-can1 {
    background-position: -0px -10112px;
}

.s64.people.wheelchair1-sc45 {
    background-position: -0px -10176px;
}

.s64.people.window1-sc52 {
    background-position: -0px -10240px;
}
