.s32.people {
    background:          transparent url("32x32/people.png") no-repeat;
    width:               32px;
    height:              32px;
}

.s32.people.baby-stoller2 {
    background-position: -0px -0px;
}

.s32.people.baby-stroller {
    background-position: -0px -32px;
}

.s32.people.baby-stroller1 {
    background-position: -0px -64px;
}

.s32.people.baby-toys {
    background-position: -0px -96px;
}

.s32.people.baby {
    background-position: -0px -128px;
}

.s32.people.bathtub-sc52 {
    background-position: -0px -160px;
}

.s32.people.bed {
    background-position: -0px -192px;
}

.s32.people.bed1-sc43 {
    background-position: -0px -224px;
}

.s32.people.brain {
    background-position: -0px -256px;
}

.s32.people.briefcase {
    background-position: -0px -288px;
}

.s32.people.button {
    background-position: -0px -320px;
}

.s32.people.button1 {
    background-position: -0px -352px;
}

.s32.people.button3 {
    background-position: -0px -384px;
}

.s32.people.cabinet1-sc52 {
    background-position: -0px -416px;
}

.s32.people.cabinet3-sc52 {
    background-position: -0px -448px;
}

.s32.people.camera {
    background-position: -0px -480px;
}

.s32.people.camera1-sc49 {
    background-position: -0px -512px;
}

.s32.people.candle2-sc43 {
    background-position: -0px -544px;
}

.s32.people.chair2 {
    background-position: -0px -576px;
}

.s32.people.chair3 {
    background-position: -0px -608px;
}

.s32.people.chalkboard {
    background-position: -0px -640px;
}

.s32.people.chest-treasure {
    background-position: -0px -672px;
}

.s32.people.chest {
    background-position: -0px -704px;
}

.s32.people.cowboy-sc44 {
    background-position: -0px -736px;
}

.s32.people.diamond {
    background-position: -0px -768px;
}

.s32.people.diamond5-sc27 {
    background-position: -0px -800px;
}

.s32.people.diploma-sc2 {
    background-position: -0px -832px;
}

.s32.people.dress {
    background-position: -0px -864px;
}

.s32.people.eye {
    background-position: -0px -896px;
}

.s32.people.eye3-sc44 {
    background-position: -0px -928px;
}

.s32.people.eye4-sc48 {
    background-position: -0px -960px;
}

.s32.people.eye5-sc54 {
    background-position: -0px -992px;
}

.s32.people.eye6 {
    background-position: -0px -1024px;
}

.s32.people.fan5-sc48 {
    background-position: -0px -1056px;
}

.s32.people.faucet1-sc1 {
    background-position: -0px -1088px;
}

.s32.people.faucet2-sc52 {
    background-position: -0px -1120px;
}

.s32.people.foot-left-ps {
    background-position: -0px -1152px;
}

.s32.people.foot-right-ps {
    background-position: -0px -1184px;
}

.s32.people.foot-steps {
    background-position: -0px -1216px;
}

.s32.people.glasses-sun {
    background-position: -0px -1248px;
}

.s32.people.glasses {
    background-position: -0px -1280px;
}

.s32.people.hair-comb {
    background-position: -0px -1312px;
}

.s32.people.hair-comb1-sc44 {
    background-position: -0px -1344px;
}

.s32.people.hairbrush2-sc44 {
    background-position: -0px -1376px;
}

.s32.people.hand-gloves {
    background-position: -0px -1408px;
}

.s32.people.hand-left1-ps {
    background-position: -0px -1440px;
}

.s32.people.hand-left11 {
    background-position: -0px -1472px;
}

.s32.people.hand-peace {
    background-position: -0px -1504px;
}

.s32.people.hand-peace2-sc37 {
    background-position: -0px -1536px;
}

.s32.people.hand-right1-ps {
    background-position: -0px -1568px;
}

.s32.people.hand-shuffle {
    background-position: -0px -1600px;
}

.s32.people.hand22-sc48 {
    background-position: -0px -1632px;
}

.s32.people.hand55 {
    background-position: -0px -1664px;
}

.s32.people.handbag-sc43 {
    background-position: -0px -1696px;
}

.s32.people.handicapped25 {
    background-position: -0px -1728px;
}

.s32.people.handshake {
    background-position: -0px -1760px;
}

.s32.people.hat-cap3-sc44 {
    background-position: -0px -1792px;
}

.s32.people.hat-cap4-sc43 {
    background-position: -0px -1824px;
}

.s32.people.hat-graduation {
    background-position: -0px -1856px;
}

.s32.people.hat-hard {
    background-position: -0px -1888px;
}

.s32.people.hat1-graduation {
    background-position: -0px -1920px;
}

.s32.people.hat2-sc44 {
    background-position: -0px -1952px;
}

.s32.people.hat4-sc44 {
    background-position: -0px -1984px;
}

.s32.people.hat6-sc44 {
    background-position: -0px -2016px;
}

.s32.people.head {
    background-position: -0px -2048px;
}

.s32.people.icon_003 {
    background-position: -0px -2080px;
}

.s32.people.knife-set-sc43 {
    background-position: -0px -2112px;
}

.s32.people.lamp-aladin {
    background-position: -0px -2144px;
}

.s32.people.lamp1 {
    background-position: -0px -2176px;
}

.s32.people.lamp2-sc31 {
    background-position: -0px -2208px;
}

.s32.people.lamp3-sc43 {
    background-position: -0px -2240px;
}

.s32.people.lamp4-sc43 {
    background-position: -0px -2272px;
}

.s32.people.lamp5-sc52 {
    background-position: -0px -2304px;
}

.s32.people.lamp6-sc52 {
    background-position: -0px -2336px;
}

.s32.people.lamp7-sc52 {
    background-position: -0px -2368px;
}

.s32.people.lips-sc33 {
    background-position: -0px -2400px;
}

.s32.people.lips1-sc33 {
    background-position: -0px -2432px;
}

.s32.people.lips99 {
    background-position: -0px -2464px;
}

.s32.people.lipstick {
    background-position: -0px -2496px;
}

.s32.people.lipstick1-sc44 {
    background-position: -0px -2528px;
}

.s32.people.magnet {
    background-position: -0px -2560px;
}

.s32.people.mirror {
    background-position: -0px -2592px;
}

.s32.people.mirror1 {
    background-position: -0px -2624px;
}

.s32.people.pants {
    background-position: -0px -2656px;
}

.s32.people.pencil-eye-sc44 {
    background-position: -0px -2688px;
}

.s32.people.people-audience {
    background-position: -0px -2720px;
}

.s32.people.people-audience1-sc44 {
    background-position: -0px -2752px;
}

.s32.people.people-baby {
    background-position: -0px -2784px;
}

.s32.people.people-carry-suitcase-sc44 {
    background-position: -0px -2816px;
}

.s32.people.people-child {
    background-position: -0px -2848px;
}

.s32.people.people-child2 {
    background-position: -0px -2880px;
}

.s32.people.people-child3 {
    background-position: -0px -2912px;
}

.s32.people.people-couple-sc44 {
    background-position: -0px -2944px;
}

.s32.people.people-family3 {
    background-position: -0px -2976px;
}

.s32.people.people-family4-sc44 {
    background-position: -0px -3008px;
}

.s32.people.people-family4 {
    background-position: -0px -3040px;
}

.s32.people.people-feet {
    background-position: -0px -3072px;
}

.s32.people.people-girl88-sc54 {
    background-position: -0px -3104px;
}

.s32.people.people-head {
    background-position: -0px -3136px;
}

.s32.people.people-inspector-sc44 {
    background-position: -0px -3168px;
}

.s32.people.people-man-circle-sc44 {
    background-position: -0px -3200px;
}

.s32.people.people-man1 {
    background-position: -0px -3232px;
}

.s32.people.people-man11 {
    background-position: -0px -3264px;
}

.s32.people.people-man4 {
    background-position: -0px -3296px;
}

.s32.people.people-mother-child-sc44 {
    background-position: -0px -3328px;
}

.s32.people.people-mother-child1-sc43 {
    background-position: -0px -3360px;
}

.s32.people.people-pedestrian-sc43 {
    background-position: -0px -3392px;
}

.s32.people.people-security-guard-49 {
    background-position: -0px -3424px;
}

.s32.people.people-security {
    background-position: -0px -3456px;
}

.s32.people.people-showering {
    background-position: -0px -3488px;
}

.s32.people.people-singing {
    background-position: -0px -3520px;
}

.s32.people.people-sitting1-sc52 {
    background-position: -0px -3552px;
}

.s32.people.people-speaker-sc44 {
    background-position: -0px -3584px;
}

.s32.people.people-student-study {
    background-position: -0px -3616px;
}

.s32.people.people-students {
    background-position: -0px -3648px;
}

.s32.people.people-walker-man4-ps {
    background-position: -0px -3680px;
}

.s32.people.people-woman1 {
    background-position: -0px -3712px;
}

.s32.people.people-woman2 {
    background-position: -0px -3744px;
}

.s32.people.people-woman6 {
    background-position: -0px -3776px;
}

.s32.people.people-worker {
    background-position: -0px -3808px;
}

.s32.people.people25 {
    background-position: -0px -3840px;
}

.s32.people.perfume-sc44 {
    background-position: -0px -3872px;
}

.s32.people.picture-frame-sc52 {
    background-position: -0px -3904px;
}

.s32.people.picture-frame1-sc52 {
    background-position: -0px -3936px;
}

.s32.people.pill {
    background-position: -0px -3968px;
}

.s32.people.ring {
    background-position: -0px -4000px;
}

.s32.people.ring1-sc44 {
    background-position: -0px -4032px;
}

.s32.people.rocking-horse-sc44 {
    background-position: -0px -4064px;
}

.s32.people.scissors-comb1-sc44 {
    background-position: -0px -4096px;
}

.s32.people.scissors2 {
    background-position: -0px -4128px;
}

.s32.people.scissors3 {
    background-position: -0px -4160px;
}

.s32.people.sewing-machine {
    background-position: -0px -4192px;
}

.s32.people.shirt {
    background-position: -0px -4224px;
}

.s32.people.shirt1 {
    background-position: -0px -4256px;
}

.s32.people.shirt2-sc44 {
    background-position: -0px -4288px;
}

.s32.people.shirt3-sc43 {
    background-position: -0px -4320px;
}

.s32.people.shoe {
    background-position: -0px -4352px;
}

.s32.people.shoes2 {
    background-position: -0px -4384px;
}

.s32.people.shorts-sc43 {
    background-position: -0px -4416px;
}

.s32.people.sink-pedestal-sc52 {
    background-position: -0px -4448px;
}

.s32.people.sink-pedestal {
    background-position: -0px -4480px;
}

.s32.people.slipper-sc43 {
    background-position: -0px -4512px;
}

.s32.people.sofa {
    background-position: -0px -4544px;
}

.s32.people.sofa1-sc52 {
    background-position: -0px -4576px;
}

.s32.people.speech {
    background-position: -0px -4608px;
}

.s32.people.stairs {
    background-position: -0px -4640px;
}

.s32.people.stairs1-sc52 {
    background-position: -0px -4672px;
}

.s32.people.swap-clothes {
    background-position: -0px -4704px;
}

.s32.people.table-sc52 {
    background-position: -0px -4736px;
}

.s32.people.table2-sc52 {
    background-position: -0px -4768px;
}

.s32.people.table3-sc52 {
    background-position: -0px -4800px;
}

.s32.people.telescope {
    background-position: -0px -4832px;
}

.s32.people.tv-sc52 {
    background-position: -0px -4864px;
}

.s32.people.umbrella1 {
    background-position: -0px -4896px;
}

.s32.people.umbrella2 {
    background-position: -0px -4928px;
}

.s32.people.wagon {
    background-position: -0px -4960px;
}

.s32.people.water-well {
    background-position: -0px -4992px;
}

.s32.people.watering-can {
    background-position: -0px -5024px;
}

.s32.people.watering-can1 {
    background-position: -0px -5056px;
}

.s32.people.wheelchair1-sc45 {
    background-position: -0px -5088px;
}

.s32.people.window1-sc52 {
    background-position: -0px -5120px;
}
