.s28.signs                      { background: transparent url("28x28/signs.png") no-repeat; width: 28px; height: 28px; }
.s28.signs.bomb                 { background-position:   -0px   -0px; }
.s28.signs.bomb1                { background-position:   -0px  -28px; }
.s28.signs.bubbling-potion      { background-position:   -0px  -56px; }
.s28.signs.electrical-shock3    { background-position:   -0px  -84px; }
.s28.signs.fan                  { background-position:   -0px -112px; }
.s28.signs.fan2                 { background-position:   -0px -140px; }
.s28.signs.fan3                 { background-position:   -0px -168px; }
.s28.signs.fan4                 { background-position:   -0px -196px; }
.s28.signs.fire-extinguisher    { background-position:   -0px -224px; }
.s28.signs.first-aid            { background-position:   -0px -252px; }
.s28.signs.first-aid1           { background-position:   -0px -280px; }
.s28.signs.first-aid2           { background-position:   -0px -308px; }
.s28.signs.gas-mask             { background-position:   -0px -336px; }
.s28.signs.h-hospital           { background-position:   -0px -364px; }
.s28.signs.hand-medical-aid     { background-position:   -0px -392px; }
.s28.signs.hand-no2             { background-position:   -0px -420px; }
.s28.signs.headset2             { background-position:   -0px -448px; }
.s28.signs.life-preserver       { background-position:   -0px -476px; }
.s28.signs.love-potion          { background-position:   -0px -504px; }
.s28.signs.medical-alert        { background-position:   -0px -532px; }
.s28.signs.medical-alert1       { background-position:   -0px -560px; }
.s28.signs.medical-pharmacy-cup { background-position:   -0px -588px; }
.s28.signs.no-smoking           { background-position:   -0px -616px; }
.s28.signs.no-smoking1          { background-position:   -0px -644px; }
.s28.signs.no-smoking2          { background-position:   -0px -672px; }
.s28.signs.no-walking           { background-position:   -0px -700px; }
.s28.signs.no-walking1          { background-position:   -0px -728px; }
.s28.signs.nosign               { background-position:   -0px -756px; }
.s28.signs.nosign1              { background-position:   -0px -784px; }
.s28.signs.nuclear              { background-position:   -0px -812px; }
.s28.signs.nuclear1             { background-position:   -0px -840px; }
.s28.signs.place-of-interest    { background-position:   -0px -868px; }
.s28.signs.prescription         { background-position:   -0px -896px; }
.s28.signs.prescription1        { background-position:   -0px -924px; }
.s28.signs.railroad-tracks      { background-position:   -0px -952px; }
.s28.signs.recycle-sc45         { background-position:   -0px -980px; }
.s28.signs.recycle              { background-position:   -0px -1008px; }
.s28.signs.road-dont-walk-hand  { background-position:   -0px -1036px; }
.s28.signs.road-dont-walk-word  { background-position:   -0px -1064px; }
.s28.signs.road-food-sc50       { background-position:   -0px -1092px; }
.s28.signs.road-stop-sign-sc44  { background-position:   -0px -1120px; }
.s28.signs.road-walk-person     { background-position:   -0px -1148px; }
.s28.signs.road-walk-word       { background-position:   -0px -1176px; }
.s28.signs.scale-sc2            { background-position:   -0px -1204px; }
.s28.signs.scale1               { background-position:   -0px -1232px; }
.s28.signs.sos-circled1-sc49    { background-position:   -0px -1260px; }
.s28.signs.stetoscope-sc43      { background-position:   -0px -1288px; }
.s28.signs.stop-lights2-sc46    { background-position:   -0px -1316px; }
.s28.signs.stop-lights2         { background-position:   -0px -1344px; }
.s28.signs.stop-sign-sc49       { background-position:   -0px -1372px; }
.s28.signs.stop-sign3           { background-position:   -0px -1400px; }
.s28.signs.test-tube            { background-position:   -0px -1428px; }
.s28.signs.thermometer          { background-position:   -0px -1456px; }
.s28.signs.vest                 { background-position:   -0px -1484px; }
.s28.signs.warning-biohazard    { background-position:   -0px -1512px; }
.s28.signs.warning-biohazard1   { background-position:   -0px -1540px; }
.s28.signs.warning-corossive    { background-position:   -0px -1568px; }
.s28.signs.warning-man-working-sc44 { background-position:   -0px -1596px; }
.s28.signs.warning-poison       { background-position:   -0px -1624px; }
.s28.signs.warning-poison1      { background-position:   -0px -1652px; }
.s28.signs.warning-radiation    { background-position:   -0px -1680px; }
.s28.signs.warning-radiation1   { background-position:   -0px -1708px; }
.s28.signs.warning-sign         { background-position:   -0px -1736px; }
.s28.signs.wheelchair           { background-position:   -0px -1764px; }
.s28.signs.z-parking-no-sc49    { background-position:   -0px -1792px; }
.s28.signs.z-parking-sc49       { background-position:   -0px -1820px; }
.s28.signs.z-roadsign10         { background-position:   -0px -1848px; }
.s28.signs.z-roadsign100        { background-position:   -0px -1876px; }
.s28.signs.z-roadsign101        { background-position:   -0px -1904px; }
.s28.signs.z-roadsign102        { background-position:   -0px -1932px; }
.s28.signs.z-roadsign103        { background-position:   -0px -1960px; }
.s28.signs.z-roadsign104        { background-position:   -0px -1988px; }
.s28.signs.z-roadsign105        { background-position:   -0px -2016px; }
.s28.signs.z-roadsign11         { background-position:   -0px -2044px; }
.s28.signs.z-roadsign12         { background-position:   -0px -2072px; }
.s28.signs.z-roadsign13         { background-position:   -0px -2100px; }
.s28.signs.z-roadsign14         { background-position:   -0px -2128px; }
.s28.signs.z-roadsign15         { background-position:   -0px -2156px; }
.s28.signs.z-roadsign16         { background-position:   -0px -2184px; }
.s28.signs.z-roadsign17         { background-position:   -0px -2212px; }
.s28.signs.z-roadsign18         { background-position:   -0px -2240px; }
.s28.signs.z-roadsign19         { background-position:   -0px -2268px; }
.s28.signs.z-roadsign2          { background-position:   -0px -2296px; }
.s28.signs.z-roadsign20         { background-position:   -0px -2324px; }
.s28.signs.z-roadsign21         { background-position:   -0px -2352px; }
.s28.signs.z-roadsign22         { background-position:   -0px -2380px; }
.s28.signs.z-roadsign23         { background-position:   -0px -2408px; }
.s28.signs.z-roadsign24         { background-position:   -0px -2436px; }
.s28.signs.z-roadsign25         { background-position:   -0px -2464px; }
.s28.signs.z-roadsign26         { background-position:   -0px -2492px; }
.s28.signs.z-roadsign27         { background-position:   -0px -2520px; }
.s28.signs.z-roadsign28         { background-position:   -0px -2548px; }
.s28.signs.z-roadsign29         { background-position:   -0px -2576px; }
.s28.signs.z-roadsign30         { background-position:   -0px -2604px; }
.s28.signs.z-roadsign33         { background-position:   -0px -2632px; }
.s28.signs.z-roadsign34         { background-position:   -0px -2660px; }
.s28.signs.z-roadsign36         { background-position:   -0px -2688px; }
.s28.signs.z-roadsign37         { background-position:   -0px -2716px; }
.s28.signs.z-roadsign38         { background-position:   -0px -2744px; }
.s28.signs.z-roadsign39         { background-position:   -0px -2772px; }
.s28.signs.z-roadsign40         { background-position:   -0px -2800px; }
.s28.signs.z-roadsign42         { background-position:   -0px -2828px; }
.s28.signs.z-roadsign43         { background-position:   -0px -2856px; }
.s28.signs.z-roadsign44         { background-position:   -0px -2884px; }
.s28.signs.z-roadsign45         { background-position:   -0px -2912px; }
.s28.signs.z-roadsign46         { background-position:   -0px -2940px; }
.s28.signs.z-roadsign47         { background-position:   -0px -2968px; }
.s28.signs.z-roadsign51         { background-position:   -0px -2996px; }
.s28.signs.z-roadsign52         { background-position:   -0px -3024px; }
.s28.signs.z-roadsign53         { background-position:   -0px -3052px; }
.s28.signs.z-roadsign54         { background-position:   -0px -3080px; }
.s28.signs.z-roadsign56         { background-position:   -0px -3108px; }
.s28.signs.z-roadsign57         { background-position:   -0px -3136px; }
.s28.signs.z-roadsign58         { background-position:   -0px -3164px; }
.s28.signs.z-roadsign59         { background-position:   -0px -3192px; }
.s28.signs.z-roadsign60         { background-position:   -0px -3220px; }
.s28.signs.z-roadsign61         { background-position:   -0px -3248px; }
.s28.signs.z-roadsign63         { background-position:   -0px -3276px; }
.s28.signs.z-roadsign64         { background-position:   -0px -3304px; }
.s28.signs.z-roadsign65         { background-position:   -0px -3332px; }
.s28.signs.z-roadsign66         { background-position:   -0px -3360px; }
.s28.signs.z-roadsign67         { background-position:   -0px -3388px; }
.s28.signs.z-roadsign68         { background-position:   -0px -3416px; }
.s28.signs.z-roadsign69         { background-position:   -0px -3444px; }
.s28.signs.z-roadsign70         { background-position:   -0px -3472px; }
.s28.signs.z-roadsign71         { background-position:   -0px -3500px; }
.s28.signs.z-roadsign72         { background-position:   -0px -3528px; }
.s28.signs.z-roadsign73         { background-position:   -0px -3556px; }
.s28.signs.z-roadsign74         { background-position:   -0px -3584px; }
.s28.signs.z-roadsign75         { background-position:   -0px -3612px; }
.s28.signs.z-roadsign76         { background-position:   -0px -3640px; }
.s28.signs.z-roadsign77         { background-position:   -0px -3668px; }
.s28.signs.z-roadsign78         { background-position:   -0px -3696px; }
.s28.signs.z-roadsign79         { background-position:   -0px -3724px; }
.s28.signs.z-roadsign8          { background-position:   -0px -3752px; }
.s28.signs.z-roadsign81         { background-position:   -0px -3780px; }
.s28.signs.z-roadsign82         { background-position:   -0px -3808px; }
.s28.signs.z-roadsign83         { background-position:   -0px -3836px; }
.s28.signs.z-roadsign84         { background-position:   -0px -3864px; }
.s28.signs.z-roadsign85         { background-position:   -0px -3892px; }
.s28.signs.z-roadsign86         { background-position:   -0px -3920px; }
.s28.signs.z-roadsign88         { background-position:   -0px -3948px; }
.s28.signs.z-roadsign9          { background-position:   -0px -3976px; }
.s28.signs.z-roadsign90         { background-position:   -0px -4004px; }
.s28.signs.z-roadsign91         { background-position:   -0px -4032px; }
.s28.signs.z-roadsign92         { background-position:   -0px -4060px; }
.s28.signs.z-roadsign93         { background-position:   -0px -4088px; }
.s28.signs.z-roadsign94         { background-position:   -0px -4116px; }
.s28.signs.z-roadsign95         { background-position:   -0px -4144px; }
.s28.signs.z-roadsign96         { background-position:   -0px -4172px; }
.s28.signs.z-roadsign97         { background-position:   -0px -4200px; }
.s28.signs.z-roadsign98         { background-position:   -0px -4228px; }
.s28.signs.z-roadsign99         { background-position:   -0px -4256px; }
