.s64.signs                      { background: transparent url("64x64/signs.png") no-repeat; width: 64px; height: 64px; }
.s64.signs.bomb                 { background-position:   -0px   -0px; }
.s64.signs.bomb1                { background-position:   -0px  -64px; }
.s64.signs.bubbling-potion      { background-position:   -0px -128px; }
.s64.signs.electrical-shock3    { background-position:   -0px -192px; }
.s64.signs.fan                  { background-position:   -0px -256px; }
.s64.signs.fan2                 { background-position:   -0px -320px; }
.s64.signs.fan3                 { background-position:   -0px -384px; }
.s64.signs.fan4                 { background-position:   -0px -448px; }
.s64.signs.fire-extinguisher    { background-position:   -0px -512px; }
.s64.signs.first-aid            { background-position:   -0px -576px; }
.s64.signs.first-aid1           { background-position:   -0px -640px; }
.s64.signs.first-aid2           { background-position:   -0px -704px; }
.s64.signs.gas-mask             { background-position:   -0px -768px; }
.s64.signs.h-hospital           { background-position:   -0px -832px; }
.s64.signs.hand-medical-aid     { background-position:   -0px -896px; }
.s64.signs.hand-no2             { background-position:   -0px -960px; }
.s64.signs.headset2             { background-position:   -0px -1024px; }
.s64.signs.life-preserver       { background-position:   -0px -1088px; }
.s64.signs.love-potion          { background-position:   -0px -1152px; }
.s64.signs.medical-alert        { background-position:   -0px -1216px; }
.s64.signs.medical-alert1       { background-position:   -0px -1280px; }
.s64.signs.medical-pharmacy-cup { background-position:   -0px -1344px; }
.s64.signs.no-smoking           { background-position:   -0px -1408px; }
.s64.signs.no-smoking1          { background-position:   -0px -1472px; }
.s64.signs.no-smoking2          { background-position:   -0px -1536px; }
.s64.signs.no-walking           { background-position:   -0px -1600px; }
.s64.signs.no-walking1          { background-position:   -0px -1664px; }
.s64.signs.nosign               { background-position:   -0px -1728px; }
.s64.signs.nosign1              { background-position:   -0px -1792px; }
.s64.signs.nuclear              { background-position:   -0px -1856px; }
.s64.signs.nuclear1             { background-position:   -0px -1920px; }
.s64.signs.place-of-interest    { background-position:   -0px -1984px; }
.s64.signs.prescription         { background-position:   -0px -2048px; }
.s64.signs.prescription1        { background-position:   -0px -2112px; }
.s64.signs.railroad-tracks      { background-position:   -0px -2176px; }
.s64.signs.recycle-sc45         { background-position:   -0px -2240px; }
.s64.signs.recycle              { background-position:   -0px -2304px; }
.s64.signs.road-dont-walk-hand  { background-position:   -0px -2368px; }
.s64.signs.road-dont-walk-word  { background-position:   -0px -2432px; }
.s64.signs.road-food-sc50       { background-position:   -0px -2496px; }
.s64.signs.road-stop-sign-sc44  { background-position:   -0px -2560px; }
.s64.signs.road-walk-person     { background-position:   -0px -2624px; }
.s64.signs.road-walk-word       { background-position:   -0px -2688px; }
.s64.signs.scale-sc2            { background-position:   -0px -2752px; }
.s64.signs.scale1               { background-position:   -0px -2816px; }
.s64.signs.sos-circled1-sc49    { background-position:   -0px -2880px; }
.s64.signs.stetoscope-sc43      { background-position:   -0px -2944px; }
.s64.signs.stop-lights2-sc46    { background-position:   -0px -3008px; }
.s64.signs.stop-lights2         { background-position:   -0px -3072px; }
.s64.signs.stop-sign-sc49       { background-position:   -0px -3136px; }
.s64.signs.stop-sign3           { background-position:   -0px -3200px; }
.s64.signs.test-tube            { background-position:   -0px -3264px; }
.s64.signs.thermometer          { background-position:   -0px -3328px; }
.s64.signs.vest                 { background-position:   -0px -3392px; }
.s64.signs.warning-biohazard    { background-position:   -0px -3456px; }
.s64.signs.warning-biohazard1   { background-position:   -0px -3520px; }
.s64.signs.warning-corossive    { background-position:   -0px -3584px; }
.s64.signs.warning-man-working-sc44 { background-position:   -0px -3648px; }
.s64.signs.warning-poison       { background-position:   -0px -3712px; }
.s64.signs.warning-poison1      { background-position:   -0px -3776px; }
.s64.signs.warning-radiation    { background-position:   -0px -3840px; }
.s64.signs.warning-radiation1   { background-position:   -0px -3904px; }
.s64.signs.warning-sign         { background-position:   -0px -3968px; }
.s64.signs.wheelchair           { background-position:   -0px -4032px; }
.s64.signs.z-parking-no-sc49    { background-position:   -0px -4096px; }
.s64.signs.z-parking-sc49       { background-position:   -0px -4160px; }
.s64.signs.z-roadsign10         { background-position:   -0px -4224px; }
.s64.signs.z-roadsign100        { background-position:   -0px -4288px; }
.s64.signs.z-roadsign101        { background-position:   -0px -4352px; }
.s64.signs.z-roadsign102        { background-position:   -0px -4416px; }
.s64.signs.z-roadsign103        { background-position:   -0px -4480px; }
.s64.signs.z-roadsign104        { background-position:   -0px -4544px; }
.s64.signs.z-roadsign105        { background-position:   -0px -4608px; }
.s64.signs.z-roadsign11         { background-position:   -0px -4672px; }
.s64.signs.z-roadsign12         { background-position:   -0px -4736px; }
.s64.signs.z-roadsign13         { background-position:   -0px -4800px; }
.s64.signs.z-roadsign14         { background-position:   -0px -4864px; }
.s64.signs.z-roadsign15         { background-position:   -0px -4928px; }
.s64.signs.z-roadsign16         { background-position:   -0px -4992px; }
.s64.signs.z-roadsign17         { background-position:   -0px -5056px; }
.s64.signs.z-roadsign18         { background-position:   -0px -5120px; }
.s64.signs.z-roadsign19         { background-position:   -0px -5184px; }
.s64.signs.z-roadsign2          { background-position:   -0px -5248px; }
.s64.signs.z-roadsign20         { background-position:   -0px -5312px; }
.s64.signs.z-roadsign21         { background-position:   -0px -5376px; }
.s64.signs.z-roadsign22         { background-position:   -0px -5440px; }
.s64.signs.z-roadsign23         { background-position:   -0px -5504px; }
.s64.signs.z-roadsign24         { background-position:   -0px -5568px; }
.s64.signs.z-roadsign25         { background-position:   -0px -5632px; }
.s64.signs.z-roadsign26         { background-position:   -0px -5696px; }
.s64.signs.z-roadsign27         { background-position:   -0px -5760px; }
.s64.signs.z-roadsign28         { background-position:   -0px -5824px; }
.s64.signs.z-roadsign29         { background-position:   -0px -5888px; }
.s64.signs.z-roadsign30         { background-position:   -0px -5952px; }
.s64.signs.z-roadsign33         { background-position:   -0px -6016px; }
.s64.signs.z-roadsign34         { background-position:   -0px -6080px; }
.s64.signs.z-roadsign36         { background-position:   -0px -6144px; }
.s64.signs.z-roadsign37         { background-position:   -0px -6208px; }
.s64.signs.z-roadsign38         { background-position:   -0px -6272px; }
.s64.signs.z-roadsign39         { background-position:   -0px -6336px; }
.s64.signs.z-roadsign40         { background-position:   -0px -6400px; }
.s64.signs.z-roadsign42         { background-position:   -0px -6464px; }
.s64.signs.z-roadsign43         { background-position:   -0px -6528px; }
.s64.signs.z-roadsign44         { background-position:   -0px -6592px; }
.s64.signs.z-roadsign45         { background-position:   -0px -6656px; }
.s64.signs.z-roadsign46         { background-position:   -0px -6720px; }
.s64.signs.z-roadsign47         { background-position:   -0px -6784px; }
.s64.signs.z-roadsign51         { background-position:   -0px -6848px; }
.s64.signs.z-roadsign52         { background-position:   -0px -6912px; }
.s64.signs.z-roadsign53         { background-position:   -0px -6976px; }
.s64.signs.z-roadsign54         { background-position:   -0px -7040px; }
.s64.signs.z-roadsign56         { background-position:   -0px -7104px; }
.s64.signs.z-roadsign57         { background-position:   -0px -7168px; }
.s64.signs.z-roadsign58         { background-position:   -0px -7232px; }
.s64.signs.z-roadsign59         { background-position:   -0px -7296px; }
.s64.signs.z-roadsign60         { background-position:   -0px -7360px; }
.s64.signs.z-roadsign61         { background-position:   -0px -7424px; }
.s64.signs.z-roadsign63         { background-position:   -0px -7488px; }
.s64.signs.z-roadsign65         { background-position:   -0px -7552px; }
.s64.signs.z-roadsign66         { background-position:   -0px -7616px; }
.s64.signs.z-roadsign67         { background-position:   -0px -7680px; }
.s64.signs.z-roadsign68         { background-position:   -0px -7744px; }
.s64.signs.z-roadsign69         { background-position:   -0px -7808px; }
.s64.signs.z-roadsign70         { background-position:   -0px -7872px; }
.s64.signs.z-roadsign71         { background-position:   -0px -7936px; }
.s64.signs.z-roadsign72         { background-position:   -0px -8000px; }
.s64.signs.z-roadsign73         { background-position:   -0px -8064px; }
.s64.signs.z-roadsign74         { background-position:   -0px -8128px; }
.s64.signs.z-roadsign75         { background-position:   -0px -8192px; }
.s64.signs.z-roadsign76         { background-position:   -0px -8256px; }
.s64.signs.z-roadsign77         { background-position:   -0px -8320px; }
.s64.signs.z-roadsign78         { background-position:   -0px -8384px; }
.s64.signs.z-roadsign79         { background-position:   -0px -8448px; }
.s64.signs.z-roadsign8          { background-position:   -0px -8512px; }
.s64.signs.z-roadsign81         { background-position:   -0px -8576px; }
.s64.signs.z-roadsign82         { background-position:   -0px -8640px; }
.s64.signs.z-roadsign83         { background-position:   -0px -8704px; }
.s64.signs.z-roadsign84         { background-position:   -0px -8768px; }
.s64.signs.z-roadsign85         { background-position:   -0px -8832px; }
.s64.signs.z-roadsign86         { background-position:   -0px -8896px; }
.s64.signs.z-roadsign88         { background-position:   -0px -8960px; }
.s64.signs.z-roadsign9          { background-position:   -0px -9024px; }
.s64.signs.z-roadsign90         { background-position:   -0px -9088px; }
.s64.signs.z-roadsign91         { background-position:   -0px -9152px; }
.s64.signs.z-roadsign92         { background-position:   -0px -9216px; }
.s64.signs.z-roadsign93         { background-position:   -0px -9280px; }
.s64.signs.z-roadsign94         { background-position:   -0px -9344px; }
.s64.signs.z-roadsign95         { background-position:   -0px -9408px; }
.s64.signs.z-roadsign96         { background-position:   -0px -9472px; }
.s64.signs.z-roadsign97         { background-position:   -0px -9536px; }
.s64.signs.z-roadsign98         { background-position:   -0px -9600px; }
.s64.signs.z-roadsign99         { background-position:   -0px -9664px; }
