.s32.symbols {
    background:          transparent url("32x32/symbols.png") no-repeat;
    width:               32px;
    height:              32px;
}

.s32.symbols.anchor1 {
    background-position: -0px -0px;
}

.s32.symbols.anchor4 {
    background-position: -0px -32px;
}

.s32.symbols.badge-sc48 {
    background-position: -0px -64px;
}

.s32.symbols.check-box-ps {
    background-position: -0px -96px;
}

.s32.symbols.check-in-box {
    background-position: -0px -128px;
}

.s32.symbols.check-mark {
    background-position: -0px -160px;
}

.s32.symbols.check-mark4 {
    background-position: -0px -192px;
}

.s32.symbols.check-mark5-ps {
    background-position: -0px -224px;
}

.s32.symbols.check-mark6-ps {
    background-position: -0px -256px;
}

.s32.symbols.check-mark8-sc44 {
    background-position: -0px -288px;
}

.s32.symbols.checkmark-solid-circle {
    background-position: -0px -320px;
}

.s32.symbols.circle-clear {
    background-position: -0px -352px;
}

.s32.symbols.circle-solid {
    background-position: -0px -384px;
}

.s32.symbols.comment-bubble {
    background-position: -0px -416px;
}

.s32.symbols.comment-bubble2 {
    background-position: -0px -448px;
}

.s32.symbols.comment-bubbles {
    background-position: -0px -480px;
}

.s32.symbols.comment-bubbles3 {
    background-position: -0px -512px;
}

.s32.symbols.cube {
    background-position: -0px -544px;
}

.s32.symbols.decor1 {
    background-position: -0px -576px;
}

.s32.symbols.decor2 {
    background-position: -0px -608px;
}

.s32.symbols.decor3 {
    background-position: -0px -640px;
}

.s32.symbols.decor4 {
    background-position: -0px -672px;
}

.s32.symbols.decor5 {
    background-position: -0px -704px;
}

.s32.symbols.decor6 {
    background-position: -0px -736px;
}

.s32.symbols.decor7 {
    background-position: -0px -768px;
}

.s32.symbols.decor8 {
    background-position: -0px -800px;
}

.s32.symbols.female-symbol {
    background-position: -0px -832px;
}

.s32.symbols.female-symbol2-sc48 {
    background-position: -0px -864px;
}

.s32.symbols.male-symbol1-sc48 {
    background-position: -0px -896px;
}

.s32.symbols.male-symbol3 {
    background-position: -0px -928px;
}

.s32.symbols.maximize-button {
    background-position: -0px -960px;
}

.s32.symbols.minimize {
    background-position: -0px -992px;
}

.s32.symbols.peace-sign-ttf {
    background-position: -0px -1024px;
}

.s32.symbols.peace-sign2-ttf {
    background-position: -0px -1056px;
}

.s32.symbols.power-button {
    background-position: -0px -1088px;
}

.s32.symbols.power-button1 {
    background-position: -0px -1120px;
}

.s32.symbols.power-button2 {
    background-position: -0px -1152px;
}

.s32.symbols.power-button3 {
    background-position: -0px -1184px;
}

.s32.symbols.puzzle-horizontal {
    background-position: -0px -1216px;
}

.s32.symbols.puzzle-vertical {
    background-position: -0px -1248px;
}

.s32.symbols.puzzle3-ps {
    background-position: -0px -1280px;
}

.s32.symbols.puzzle4-ps {
    background-position: -0px -1312px;
}

.s32.symbols.royal {
    background-position: -0px -1344px;
}

.s32.symbols.shape-square-clear {
    background-position: -0px -1376px;
}

.s32.symbols.shape-square-frame {
    background-position: -0px -1408px;
}

.s32.symbols.shape-stop-button-clear {
    background-position: -0px -1440px;
}

.s32.symbols.shape-stop-button {
    background-position: -0px -1472px;
}

.s32.symbols.shapes-circle-clear {
    background-position: -0px -1504px;
}

.s32.symbols.shapes-circle-frame {
    background-position: -0px -1536px;
}

.s32.symbols.shapes-circle-target {
    background-position: -0px -1568px;
}

.s32.symbols.shapes-circle {
    background-position: -0px -1600px;
}

.s32.symbols.shapes-diamond-frame {
    background-position: -0px -1632px;
}

.s32.symbols.shapes-diamond {
    background-position: -0px -1664px;
}

.s32.symbols.shapes-hexagon-frame {
    background-position: -0px -1696px;
}

.s32.symbols.shapes-hexagon {
    background-position: -0px -1728px;
}

.s32.symbols.shapes-octagon {
    background-position: -0px -1760px;
}

.s32.symbols.shapes-toggle-down {
    background-position: -0px -1792px;
}

.s32.symbols.shapes-toggle-up {
    background-position: -0px -1824px;
}

.s32.symbols.shield {
    background-position: -0px -1856px;
}

.s32.symbols.smiley-face1 {
    background-position: -0px -1888px;
}

.s32.symbols.smiley-face2 {
    background-position: -0px -1920px;
}

.s32.symbols.smiley-face3 {
    background-position: -0px -1952px;
}

.s32.symbols.smiley-face4 {
    background-position: -0px -1984px;
}

.s32.symbols.smiley-happy {
    background-position: -0px -2016px;
}

.s32.symbols.smiley-happy2 {
    background-position: -0px -2048px;
}

.s32.symbols.smiley-sad {
    background-position: -0px -2080px;
}

.s32.symbols.smileyfacesad {
    background-position: -0px -2112px;
}

.s32.symbols.smilley-grin-face {
    background-position: -0px -2144px;
}

.s32.symbols.smilley-happy-face {
    background-position: -0px -2176px;
}

.s32.symbols.spinner1 {
    background-position: -0px -2208px;
}

.s32.symbols.spinner2-sc30 {
    background-position: -0px -2240px;
}

.s32.symbols.spinner3-sc36 {
    background-position: -0px -2272px;
}

.s32.symbols.spinner4-sc36 {
    background-position: -0px -2304px;
}

.s32.symbols.spinner5-sc36 {
    background-position: -0px -2336px;
}

.s32.symbols.spinner6-sc36 {
    background-position: -0px -2368px;
}

.s32.symbols.spinner7-sc36 {
    background-position: -0px -2400px;
}

.s32.symbols.spinner8-sc36 {
    background-position: -0px -2432px;
}

.s32.symbols.spinner9-sc36 {
    background-position: -0px -2464px;
}

.s32.symbols.spiral {
    background-position: -0px -2496px;
}

.s32.symbols.spiral1 {
    background-position: -0px -2528px;
}

.s32.symbols.square-download {
    background-position: -0px -2560px;
}

.s32.symbols.square {
    background-position: -0px -2592px;
}

.s32.symbols.thought-bubble-ps {
    background-position: -0px -2624px;
}

.s32.symbols.thought-bubble1-ps {
    background-position: -0px -2656px;
}

.s32.symbols.thought-bubble1-sc37 {
    background-position: -0px -2688px;
}

.s32.symbols.thought-bubble3-sc31 {
    background-position: -0px -2720px;
}

.s32.symbols.thought-bubble4-sc31 {
    background-position: -0px -2752px;
}

.s32.symbols.tile {
    background-position: -0px -2784px;
}

.s32.symbols.tile1-ps {
    background-position: -0px -2816px;
}

.s32.symbols.tile2 {
    background-position: -0px -2848px;
}

.s32.symbols.tile3 {
    background-position: -0px -2880px;
}

.s32.symbols.tile4-sc36 {
    background-position: -0px -2912px;
}
