.s64.symbols {
    background:          transparent url("64x64/symbols.png") no-repeat;
    width:               64px;
    height:              64px;
}

.s64.symbols.anchor1 {
    background-position: -0px -0px;
}

.s64.symbols.anchor4 {
    background-position: -0px -64px;
}

.s64.symbols.badge-sc48 {
    background-position: -0px -128px;
}

.s64.symbols.check-box-ps {
    background-position: -0px -192px;
}

.s64.symbols.check-in-box {
    background-position: -0px -256px;
}

.s64.symbols.check-mark {
    background-position: -0px -320px;
}

.s64.symbols.check-mark4 {
    background-position: -0px -384px;
}

.s64.symbols.check-mark5-ps {
    background-position: -0px -448px;
}

.s64.symbols.check-mark6-ps {
    background-position: -0px -512px;
}

.s64.symbols.check-mark8-sc44 {
    background-position: -0px -576px;
}

.s64.symbols.checkmark-solid-circle {
    background-position: -0px -640px;
}

.s64.symbols.circle-clear {
    background-position: -0px -704px;
}

.s64.symbols.circle-solid {
    background-position: -0px -768px;
}

.s64.symbols.comment-bubble {
    background-position: -0px -832px;
}

.s64.symbols.comment-bubble2 {
    background-position: -0px -896px;
}

.s64.symbols.comment-bubbles {
    background-position: -0px -960px;
}

.s64.symbols.comment-bubbles3 {
    background-position: -0px -1024px;
}

.s64.symbols.cube {
    background-position: -0px -1088px;
}

.s64.symbols.decor1 {
    background-position: -0px -1152px;
}

.s64.symbols.decor2 {
    background-position: -0px -1216px;
}

.s64.symbols.decor3 {
    background-position: -0px -1280px;
}

.s64.symbols.decor4 {
    background-position: -0px -1344px;
}

.s64.symbols.decor5 {
    background-position: -0px -1408px;
}

.s64.symbols.decor6 {
    background-position: -0px -1472px;
}

.s64.symbols.decor7 {
    background-position: -0px -1536px;
}

.s64.symbols.decor8 {
    background-position: -0px -1600px;
}

.s64.symbols.female-symbol {
    background-position: -0px -1664px;
}

.s64.symbols.female-symbol2-sc48 {
    background-position: -0px -1728px;
}

.s64.symbols.male-symbol1-sc48 {
    background-position: -0px -1792px;
}

.s64.symbols.male-symbol3 {
    background-position: -0px -1856px;
}

.s64.symbols.maximize-button {
    background-position: -0px -1920px;
}

.s64.symbols.minimize {
    background-position: -0px -1984px;
}

.s64.symbols.peace-sign-ttf {
    background-position: -0px -2048px;
}

.s64.symbols.peace-sign2-ttf {
    background-position: -0px -2112px;
}

.s64.symbols.power-button {
    background-position: -0px -2176px;
}

.s64.symbols.power-button1 {
    background-position: -0px -2240px;
}

.s64.symbols.power-button2 {
    background-position: -0px -2304px;
}

.s64.symbols.power-button3 {
    background-position: -0px -2368px;
}

.s64.symbols.puzzle-horizontal {
    background-position: -0px -2432px;
}

.s64.symbols.puzzle-vertical {
    background-position: -0px -2496px;
}

.s64.symbols.puzzle3-ps {
    background-position: -0px -2560px;
}

.s64.symbols.puzzle4-ps {
    background-position: -0px -2624px;
}

.s64.symbols.royal {
    background-position: -0px -2688px;
}

.s64.symbols.shape-square-clear {
    background-position: -0px -2752px;
}

.s64.symbols.shape-square-frame {
    background-position: -0px -2816px;
}

.s64.symbols.shape-stop-button-clear {
    background-position: -0px -2880px;
}

.s64.symbols.shape-stop-button {
    background-position: -0px -2944px;
}

.s64.symbols.shapes-circle-clear {
    background-position: -0px -3008px;
}

.s64.symbols.shapes-circle-frame {
    background-position: -0px -3072px;
}

.s64.symbols.shapes-circle-target {
    background-position: -0px -3136px;
}

.s64.symbols.shapes-circle {
    background-position: -0px -3200px;
}

.s64.symbols.shapes-diamond-frame {
    background-position: -0px -3264px;
}

.s64.symbols.shapes-diamond {
    background-position: -0px -3328px;
}

.s64.symbols.shapes-hexagon-frame {
    background-position: -0px -3392px;
}

.s64.symbols.shapes-hexagon {
    background-position: -0px -3456px;
}

.s64.symbols.shapes-octagon {
    background-position: -0px -3520px;
}

.s64.symbols.shapes-toggle-down {
    background-position: -0px -3584px;
}

.s64.symbols.shapes-toggle-up {
    background-position: -0px -3648px;
}

.s64.symbols.shield {
    background-position: -0px -3712px;
}

.s64.symbols.smiley-face1 {
    background-position: -0px -3776px;
}

.s64.symbols.smiley-face2 {
    background-position: -0px -3840px;
}

.s64.symbols.smiley-face3 {
    background-position: -0px -3904px;
}

.s64.symbols.smiley-face4 {
    background-position: -0px -3968px;
}

.s64.symbols.smiley-happy {
    background-position: -0px -4032px;
}

.s64.symbols.smiley-happy2 {
    background-position: -0px -4096px;
}

.s64.symbols.smiley-sad {
    background-position: -0px -4160px;
}

.s64.symbols.smileyfacesad {
    background-position: -0px -4224px;
}

.s64.symbols.smilley-grin-face {
    background-position: -0px -4288px;
}

.s64.symbols.smilley-happy-face {
    background-position: -0px -4352px;
}

.s64.symbols.spinner1 {
    background-position: -0px -4416px;
}

.s64.symbols.spinner2-sc30 {
    background-position: -0px -4480px;
}

.s64.symbols.spinner3-sc36 {
    background-position: -0px -4544px;
}

.s64.symbols.spinner4-sc36 {
    background-position: -0px -4608px;
}

.s64.symbols.spinner5-sc36 {
    background-position: -0px -4672px;
}

.s64.symbols.spinner6-sc36 {
    background-position: -0px -4736px;
}

.s64.symbols.spinner7-sc36 {
    background-position: -0px -4800px;
}

.s64.symbols.spinner8-sc36 {
    background-position: -0px -4864px;
}

.s64.symbols.spinner9-sc36 {
    background-position: -0px -4928px;
}

.s64.symbols.spiral {
    background-position: -0px -4992px;
}

.s64.symbols.spiral1 {
    background-position: -0px -5056px;
}

.s64.symbols.square-download {
    background-position: -0px -5120px;
}

.s64.symbols.square {
    background-position: -0px -5184px;
}

.s64.symbols.thought-bubble-ps {
    background-position: -0px -5248px;
}

.s64.symbols.thought-bubble1-ps {
    background-position: -0px -5312px;
}

.s64.symbols.thought-bubble1-sc37 {
    background-position: -0px -5376px;
}

.s64.symbols.thought-bubble3-sc31 {
    background-position: -0px -5440px;
}

.s64.symbols.thought-bubble4-sc31 {
    background-position: -0px -5504px;
}

.s64.symbols.tile {
    background-position: -0px -5568px;
}

.s64.symbols.tile1-ps {
    background-position: -0px -5632px;
}

.s64.symbols.tile2 {
    background-position: -0px -5696px;
}

.s64.symbols.tile3 {
    background-position: -0px -5760px;
}

.s64.symbols.tile4-sc36 {
    background-position: -0px -5824px;
}
