.s32.transport                      { background: transparent url("32x32/transport.png") no-repeat; width: 32px; height: 32px; }
.s32.transport.anchor2              { background-position:   -0px   -0px; }
.s32.transport.anchor5-sc44         { background-position:   -0px  -32px; }
.s32.transport.anchor6-sc48         { background-position:   -0px  -64px; }
.s32.transport.car-gauge2           { background-position:   -0px  -96px; }
.s32.transport.car-gauge3           { background-position:   -0px -128px; }
.s32.transport.car-gears            { background-position:   -0px -160px; }
.s32.transport.car-speed-dial       { background-position:   -0px -192px; }
.s32.transport.compass2             { background-position:   -0px -224px; }
.s32.transport.compass4             { background-position:   -0px -256px; }
.s32.transport.ship- wheel          { background-position:   -0px -288px; }
.s32.transport.ship-wheel1          { background-position:   -0px -320px; }
.s32.transport.space-shuttle        { background-position:   -0px -352px; }
.s32.transport.spaceship1-sc44      { background-position:   -0px -384px; }
.s32.transport.spaceship2-sc43      { background-position:   -0px -416px; }
.s32.transport.star-trek-sc43       { background-position:   -0px -448px; }
.s32.transport.star-trek1-sc43      { background-position:   -0px -480px; }
.s32.transport.steering wheel1      { background-position:   -0px -512px; }
.s32.transport.tire1-sc49           { background-position:   -0px -544px; }
.s32.transport.tractor1             { background-position:   -0px -576px; }
.s32.transport.tractor2             { background-position:   -0px -608px; }
.s32.transport.tractor3             { background-position:   -0px -640px; }
.s32.transport.transportation-airplane1 { background-position:   -0px -672px; }
.s32.transport.transportation-airplane10- { background-position:   -0px -704px; }
.s32.transport.transportation-airplane2 { background-position:   -0px -736px; }
.s32.transport.transportation-airplane22 { background-position:   -0px -768px; }
.s32.transport.transportation-airplane3 { background-position:   -0px -800px; }
.s32.transport.transportation-airplane4 { background-position:   -0px -832px; }
.s32.transport.transportation-airplane6-s { background-position:   -0px -864px; }
.s32.transport.transportation-airplane7-s { background-position:   -0px -896px; }
.s32.transport.transportation-airplane8-s { background-position:   -0px -928px; }
.s32.transport.transportation-airplane9-s { background-position:   -0px -960px; }
.s32.transport.transportation-ambulance { background-position:   -0px -992px; }
.s32.transport.transportation-ambulance2 { background-position:   -0px -1024px; }
.s32.transport.transportation-bicycle-mot { background-position:   -0px -1056px; }
.s32.transport.transportation-bicycle { background-position:   -0px -1088px; }
.s32.transport.transportation-bicycle1 { background-position:   -0px -1120px; }
.s32.transport.transportation-bicycle2 { background-position:   -0px -1152px; }
.s32.transport.transportation-bicycle25 { background-position:   -0px -1184px; }
.s32.transport.transportation-bicycle9-sc { background-position:   -0px -1216px; }
.s32.transport.transportation-boat  { background-position:   -0px -1248px; }
.s32.transport.transportation-boat2 { background-position:   -0px -1280px; }
.s32.transport.transportation-bus1  { background-position:   -0px -1312px; }
.s32.transport.transportation-bus2  { background-position:   -0px -1344px; }
.s32.transport.transportation-bus3-sc44 { background-position:   -0px -1376px; }
.s32.transport.transportation-car   { background-position:   -0px -1408px; }
.s32.transport.transportation-car1  { background-position:   -0px -1440px; }
.s32.transport.transportation-car10-sc44 { background-position:   -0px -1472px; }
.s32.transport.transportation-car12 { background-position:   -0px -1504px; }
.s32.transport.transportation-car2  { background-position:   -0px -1536px; }
.s32.transport.transportation-car3  { background-position:   -0px -1568px; }
.s32.transport.transportation-car4  { background-position:   -0px -1600px; }
.s32.transport.transportation-car5  { background-position:   -0px -1632px; }
.s32.transport.transportation-car6  { background-position:   -0px -1664px; }
.s32.transport.transportation-car8  { background-position:   -0px -1696px; }
.s32.transport.transportation-car9-sc44 { background-position:   -0px -1728px; }
.s32.transport.transportation-cruise-sc45 { background-position:   -0px -1760px; }
.s32.transport.transportation-cruise-ship { background-position:   -0px -1792px; }
.s32.transport.transportation-helicopter { background-position:   -0px -1824px; }
.s32.transport.transportation-helicopter1 { background-position:   -0px -1856px; }
.s32.transport.transportation-helicopter2 { background-position:   -0px -1888px; }
.s32.transport.transportation-helicopter4 { background-position:   -0px -1920px; }
.s32.transport.transportation-helicopter5 { background-position:   -0px -1952px; }
.s32.transport.transportation-helicopter7 { background-position:   -0px -1984px; }
.s32.transport.transportation-jet   { background-position:   -0px -2016px; }
.s32.transport.transportation-police-car { background-position:   -0px -2048px; }
.s32.transport.transportation-police1-sc3 { background-position:   -0px -2080px; }
.s32.transport.transportation-race-car { background-position:   -0px -2112px; }
.s32.transport.transportation-rescue { background-position:   -0px -2144px; }
.s32.transport.transportation-rescue1-sc4 { background-position:   -0px -2176px; }
.s32.transport.transportation-rescue2-sc4 { background-position:   -0px -2208px; }
.s32.transport.transportation-rescue3-sc4 { background-position:   -0px -2240px; }
.s32.transport.transportation-rescue4-sc4 { background-position:   -0px -2272px; }
.s32.transport.transportation-sailboat { background-position:   -0px -2304px; }
.s32.transport.transportation-school-bus { background-position:   -0px -2336px; }
.s32.transport.transportation-school-bus2 { background-position:   -0px -2368px; }
.s32.transport.transportation-school-bus3 { background-position:   -0px -2400px; }
.s32.transport.transportation-ship-sc36 { background-position:   -0px -2432px; }
.s32.transport.transportation-ship-sc57 { background-position:   -0px -2464px; }
.s32.transport.transportation-ship  { background-position:   -0px -2496px; }
.s32.transport.transportation-ship2 { background-position:   -0px -2528px; }
.s32.transport.transportation-train { background-position:   -0px -2560px; }
.s32.transport.transportation-train1 { background-position:   -0px -2592px; }
.s32.transport.transportation-train2 { background-position:   -0px -2624px; }
.s32.transport.transportation-train3-sc44 { background-position:   -0px -2656px; }
.s32.transport.transportation-train3 { background-position:   -0px -2688px; }
.s32.transport.transportation-train4 { background-position:   -0px -2720px; }
.s32.transport.transportation-train5-sc36 { background-position:   -0px -2752px; }
.s32.transport.transportation-train6-sc36 { background-position:   -0px -2784px; }
.s32.transport.transportation-train7-sc36 { background-position:   -0px -2816px; }
.s32.transport.transportation-train8-sc43 { background-position:   -0px -2848px; }
.s32.transport.transportation-train9-sc43 { background-position:   -0px -2880px; }
.s32.transport.transportation-truck1 { background-position:   -0px -2912px; }
.s32.transport.transportation-truck10-sc4 { background-position:   -0px -2944px; }
.s32.transport.transportation-truck11-sc4 { background-position:   -0px -2976px; }
.s32.transport.transportation-truck2 { background-position:   -0px -3008px; }
.s32.transport.transportation-truck3 { background-position:   -0px -3040px; }
.s32.transport.transportation-truck7 { background-position:   -0px -3072px; }
.s32.transport.transportation-van1  { background-position:   -0px -3104px; }
.s32.transport.transportation-wagon { background-position:   -0px -3136px; }
.s32.transport.wheel                { background-position:   -0px -3168px; }
.s32.transport.wheel1-sc48          { background-position:   -0px -3200px; }
.s32.transport.z-truck25            { background-position:   -0px -3232px; }
