.s28.wonders                      { background: transparent url("28x28/wonders.png") no-repeat; width: 28px; height: 28px; }
.s28.wonders.acorn-sc48           { background-position:   -0px   -0px; }
.s28.wonders.cactus-sc48          { background-position:   -0px  -28px; }
.s28.wonders.fire                 { background-position:   -0px  -56px; }
.s28.wonders.fire1                { background-position:   -0px  -84px; }
.s28.wonders.fire2                { background-position:   -0px -112px; }
.s28.wonders.fire3                { background-position:   -0px -140px; }
.s28.wonders.flower-cauliflower   { background-position:   -0px -168px; }
.s28.wonders.flower-rose-sc44     { background-position:   -0px -196px; }
.s28.wonders.flower1              { background-position:   -0px -224px; }
.s28.wonders.flower10-sc30        { background-position:   -0px -252px; }
.s28.wonders.flower11-sc30        { background-position:   -0px -280px; }
.s28.wonders.flower13-sc36        { background-position:   -0px -308px; }
.s28.wonders.flower14-sc48        { background-position:   -0px -336px; }
.s28.wonders.flower15-sc48        { background-position:   -0px -364px; }
.s28.wonders.flower16-sc52        { background-position:   -0px -392px; }
.s28.wonders.flower17             { background-position:   -0px -420px; }
.s28.wonders.flower2              { background-position:   -0px -448px; }
.s28.wonders.flower21-sc44        { background-position:   -0px -476px; }
.s28.wonders.flower22-sc44        { background-position:   -0px -504px; }
.s28.wonders.flower25-sc44        { background-position:   -0px -532px; }
.s28.wonders.flower26-sc44        { background-position:   -0px -560px; }
.s28.wonders.flower27-sc44        { background-position:   -0px -588px; }
.s28.wonders.flower28-sc44        { background-position:   -0px -616px; }
.s28.wonders.flower29-sc44        { background-position:   -0px -644px; }
.s28.wonders.flower3              { background-position:   -0px -672px; }
.s28.wonders.flower30             { background-position:   -0px -700px; }
.s28.wonders.flower4              { background-position:   -0px -728px; }
.s28.wonders.flower5              { background-position:   -0px -756px; }
.s28.wonders.flower6              { background-position:   -0px -784px; }
.s28.wonders.flower7              { background-position:   -0px -812px; }
.s28.wonders.flower8              { background-position:   -0px -840px; }
.s28.wonders.flower9              { background-position:   -0px -868px; }
.s28.wonders.grass1               { background-position:   -0px -896px; }
.s28.wonders.icon_131             { background-position:   -0px -924px; }
.s28.wonders.landscape1           { background-position:   -0px -952px; }
.s28.wonders.landscape3-sc52      { background-position:   -0px -980px; }
.s28.wonders.leaf-shamrock        { background-position:   -0px -1008px; }
.s28.wonders.leaf                 { background-position:   -0px -1036px; }
.s28.wonders.leaf12-sc44          { background-position:   -0px -1064px; }
.s28.wonders.leaf13-sc44          { background-position:   -0px -1092px; }
.s28.wonders.leaf15-sc5           { background-position:   -0px -1120px; }
.s28.wonders.leaf2                { background-position:   -0px -1148px; }
.s28.wonders.leaf3                { background-position:   -0px -1176px; }
.s28.wonders.leaf4-sc44           { background-position:   -0px -1204px; }
.s28.wonders.leaf5-sc44           { background-position:   -0px -1232px; }
.s28.wonders.leaf6-sc44           { background-position:   -0px -1260px; }
.s28.wonders.leaf7-sc44           { background-position:   -0px -1288px; }
.s28.wonders.leaf9-sc44           { background-position:   -0px -1316px; }
.s28.wonders.leaves-sc49          { background-position:   -0px -1344px; }
.s28.wonders.lightning1-ps        { background-position:   -0px -1372px; }
.s28.wonders.lightning2-sc48      { background-position:   -0px -1400px; }
.s28.wonders.moon-and-planets     { background-position:   -0px -1428px; }
.s28.wonders.moon-eclipse         { background-position:   -0px -1456px; }
.s28.wonders.moon-eclipse1-sc37   { background-position:   -0px -1484px; }
.s28.wonders.moon-with-stars      { background-position:   -0px -1512px; }
.s28.wonders.moon                 { background-position:   -0px -1540px; }
.s28.wonders.moon1                { background-position:   -0px -1568px; }
.s28.wonders.moon2                { background-position:   -0px -1596px; }
.s28.wonders.moon3                { background-position:   -0px -1624px; }
.s28.wonders.moon4                { background-position:   -0px -1652px; }
.s28.wonders.moon7-sc48           { background-position:   -0px -1680px; }
.s28.wonders.planet               { background-position:   -0px -1708px; }
.s28.wonders.planet1              { background-position:   -0px -1736px; }
.s28.wonders.planet2-sc37         { background-position:   -0px -1764px; }
.s28.wonders.planet3-sc48         { background-position:   -0px -1792px; }
.s28.wonders.plant-sc45           { background-position:   -0px -1820px; }
.s28.wonders.plant1-sc52          { background-position:   -0px -1848px; }
.s28.wonders.rain-cloud           { background-position:   -0px -1876px; }
.s28.wonders.rain-cloud1          { background-position:   -0px -1904px; }
.s28.wonders.raindrop1-sc52       { background-position:   -0px -1932px; }
.s28.wonders.raindrop2            { background-position:   -0px -1960px; }
.s28.wonders.raindrop3            { background-position:   -0px -1988px; }
.s28.wonders.raindrop6-sc25       { background-position:   -0px -2016px; }
.s28.wonders.snowflake            { background-position:   -0px -2044px; }
.s28.wonders.snowflake1           { background-position:   -0px -2072px; }
.s28.wonders.snowflake3-sc37      { background-position:   -0px -2100px; }
.s28.wonders.snowflake4-sc37      { background-position:   -0px -2128px; }
.s28.wonders.snowflake5-sc48      { background-position:   -0px -2156px; }
.s28.wonders.snowflakes6-sc37     { background-position:   -0px -2184px; }
.s28.wonders.snowflakes7          { background-position:   -0px -2212px; }
.s28.wonders.star-four-point      { background-position:   -0px -2240px; }
.s28.wonders.star1                { background-position:   -0px -2268px; }
.s28.wonders.star10               { background-position:   -0px -2296px; }
.s28.wonders.star14               { background-position:   -0px -2324px; }
.s28.wonders.star16-solid         { background-position:   -0px -2352px; }
.s28.wonders.star2                { background-position:   -0px -2380px; }
.s28.wonders.star3                { background-position:   -0px -2408px; }
.s28.wonders.star4                { background-position:   -0px -2436px; }
.s28.wonders.star5                { background-position:   -0px -2464px; }
.s28.wonders.star6-ps             { background-position:   -0px -2492px; }
.s28.wonders.star8-sc48           { background-position:   -0px -2520px; }
.s28.wonders.star9-sc30           { background-position:   -0px -2548px; }
.s28.wonders.starburst            { background-position:   -0px -2576px; }
.s28.wonders.starburst1           { background-position:   -0px -2604px; }
.s28.wonders.starburst2           { background-position:   -0px -2632px; }
.s28.wonders.stars11              { background-position:   -0px -2660px; }
.s28.wonders.stars12              { background-position:   -0px -2688px; }
.s28.wonders.stars13              { background-position:   -0px -2716px; }
.s28.wonders.stars15-in-circle    { background-position:   -0px -2744px; }
.s28.wonders.sun                  { background-position:   -0px -2772px; }
.s28.wonders.sun10-sc37           { background-position:   -0px -2800px; }
.s28.wonders.sun11                { background-position:   -0px -2828px; }
.s28.wonders.sun12-sc48           { background-position:   -0px -2856px; }
.s28.wonders.sun13-sc25           { background-position:   -0px -2884px; }
.s28.wonders.sun2                 { background-position:   -0px -2912px; }
.s28.wonders.sun3                 { background-position:   -0px -2940px; }
.s28.wonders.sun6                 { background-position:   -0px -2968px; }
.s28.wonders.sun7-ps              { background-position:   -0px -2996px; }
.s28.wonders.sun8-sc36            { background-position:   -0px -3024px; }
.s28.wonders.sun9-sc37            { background-position:   -0px -3052px; }
.s28.wonders.sunface              { background-position:   -0px -3080px; }
.s28.wonders.sunface3-sc5         { background-position:   -0px -3108px; }
.s28.wonders.sunrise1-sc1         { background-position:   -0px -3136px; }
.s28.wonders.tree-bonsai1-sc44    { background-position:   -0px -3164px; }
.s28.wonders.tree-palm1           { background-position:   -0px -3192px; }
.s28.wonders.tree-palm2           { background-position:   -0px -3220px; }
.s28.wonders.tree-palm3           { background-position:   -0px -3248px; }
.s28.wonders.tree-palm4           { background-position:   -0px -3276px; }
.s28.wonders.tree2                { background-position:   -0px -3304px; }
.s28.wonders.tree5                { background-position:   -0px -3332px; }
.s28.wonders.tree7-sc44           { background-position:   -0px -3360px; }
.s28.wonders.tree8                { background-position:   -0px -3388px; }
.s28.wonders.tree9                { background-position:   -0px -3416px; }
